<template>
  <section class="personCenter">
    <Head :txt="{title: '个人中心'}" />
    <section class="common-personMsg clearBackground">
        <div class="personMsgLeft">
          <div class="head-wrapper">
            <img alt="暂无头像" :src="$store.state.userInfo.cardImgFront">
          </div>
          <div class="detail-wrapper">
            <span class="name">{{$store.state.userInfo.name}}</span>
            <span class="todo">待办: {{$store.getters.wait_worklist.length}}</span>
          </div>
        </div>
        <div @click="toPersonDetail" class="personMsgRight clearRedPoint">
          查看个人资料 <i class="arrow-right"></i>
        </div>
    </section>
    <section class="business-contorl">
      <div class="left">
        <i></i>
        <span class="businenss-txt">业务办理</span>
      </div>
      <div class="right">
        <i></i>
      </div>
    </section>
    <section class="todo-business">
      <ul class="todostate">
        <router-link replace active-class="state-active" tag="li" to="/personCenter/all">
          <a>全部</a>
        </router-link>
        <router-link replace active-class="state-active" tag="li" to="/personCenter/1">
          <a>已完成填写</a>
        </router-link>
        <router-link replace active-class="state-active" tag="li" to="/personCenter/0">
          <a>未完成填写</a>
        </router-link>
      </ul>
    </section>

    <router-view v-bind:worklist="todolist" v-on:showframe="showFrame"></router-view>

    <div @click.self="closeFrame" v-if="showErcode" class="frame-ercode">
      <div class="frame-inner">
        <p class="title">食品经营许可证申请及注销</p>
        <p class="state">未填写完成</p>
        <p class="time">申请时间: 2018-5-8</p>
        <div class="img-wrapper">
          <img src="" alt="">
        </div>
      </div>
      <div class="btn-wrapper">
        <button>保存二维码到相册</button>
      </div>
    </div>
  </section>
</template>

<script>
import './personCenter.scss'
import Head from '../../components/__head/__head'

export default {
  name: 'personCenter',
  components: {
    'Head': Head
  },
  data () {
    return {
      showErcode: false,
    }
  },
  methods: {
    toPersonDetail () {
      this.$router.push({
        path: '/personDetail/common'
      })
    },
    closeFrame () {
      this.showErcode = false;
    },
    showFrame () {
      this.showErcode = true;
    }
  },
  mounted () {
  },
  watch: {

  },
  computed: {
    todolist: function () {
      let operStatus = this.$route.params.opertype
      switch (operStatus) {
        case 'all':
        return this.$store.state.todolist
        case '1':
          return this.$store.getters.done_worklist
        case '0':
        return this.$store.getters.wait_worklist
        default:
          break;
      }
    }
  }
}
</script>

<style lang="scss">

</style>
