// 个人中心变量
$font_mainColor: rgb(77,77,77);
$title_fontColor:rgb(51,51,51);
$btn_maincolor: rgb(255, 158, 93);
$bg_mainColor:rgb(239,239,244);
// 一些小的背景颜色
$bg_decColor: rgb(245,175,128);
.personCenter{
  // overflow: hidden;
  background: $bg_mainColor;
  padding-bottom: 0.2667rem;
  // height: 100%;
}
.noscroll{
  position: fixed;
}

.common-personMsg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.16rem 0.16rem 0.3733rem;
  background: url('../../assets/home/person_msgbg.png') 0 bottom no-repeat white;
  background-size: contain;
  .personMsgLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1.2667rem;
    .head-wrapper{
      width: 0.5333rem;
      height: 0.5333rem;
      /*background: #000;*/
      img {
        max-width: 100%;
      }
    }
    .detail-wrapper{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 0.2rem;
      .name{
        color: $font_mainColor;
      }
      .todo{
        color: rgb(237, 130, 43);
      }
    }
  }
  .personMsgRight{
    font-size: 0.2rem;
    color: $font_mainColor;
    height: 100%;
    padding-right: 0.2933rem;
    position: relative;
    .arrow-right{
      position: absolute;
      top: 0.04rem;
      right: 0;
      display: block;
      width: 0.12rem;
      height: 0.2rem;
      background: url('../../assets/common/arrow_right.png');
      background-size: cover;
    }
    &:after{
      content: '';
      width: 0.12rem;
      height: 0.12rem;
      background: rgb(198, 25, 25);
      position: absolute;
      right: 0.16rem;
      top: 0px;
      border-radius: 50%;
    }
  }
}

.common-personMsg.clearBackground{
  margin-top: 0.1333rem;
  background: white;
  .personMsgRight.clearRedPoint{
    &::after {
      display: none;
    }
  }
}

.business-contorl{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-top: 0.1333rem;
  padding: 0.1333rem;
  i{
    display: block;
    width: 0.4rem;
    height: 0.4rem;
  }
  .left{
    display: flex;
    align-items: center;
    i{
      background: url('../../assets/personCenter/business_contorl.png');
      background-size: cover;
    }
    .businenss-txt{
      font-size: 0.2rem;
      color: rgb(51, 51, 51);
      margin-left: 0.0667rem;
    }
  }
  .right{
    i {
      background: url('../../assets/personCenter/search.png');
      background-size: cover;
    }
  }
}

.todo-business{
  padding: 0.2rem 0.1333rem;
  margin-top: 1px;
  background: white;
  .todostate {
    display: flex;
    .state-active{
      border: 1px solid rgb(54, 94, 243);
      a{
        color: rgb(54, 94, 243);
      }
    }
    li {
      // background: #000;
      margin-right: 0.1333rem;
      background: rgba(255, 157, 61, 0);
      border-radius: 0.0533rem;
      border: 1px solid rgb(204, 204, 204);
      color: rgb(77, 77, 77);
      font-size: 0.1733rem;
      padding: 0.0667rem 0.24rem;
      display: block;
    }
  }

}

.center-todolist{
  // padding-top: 20px;
  padding: 0 0.1333rem .2rem;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li.success{
    background: rgb(153, 153, 153);
    .item-wrapper{
      .state{color: rgb(153, 153, 153);}
      .btnwrapper{
        .goon{
          background: transparent;
          color: $btn_maincolor;
        }
      }
    }
  }
  li{
    width: 2.2933rem;
    background: rgb(245, 175, 128);
    overflow: hidden;
    margin-top: 0.1334rem;
    box-shadow: 0 0 0.04rem 1px rgb(196, 196, 196);
    // .item-wrapper.success{}
    .item-wrapper{
      margin-top: 0.1333rem;
      background: white;
      padding-bottom: 0.2667rem;
      // height: 100%;
      // margin-bottom: 0;
      p{text-align: center;}
      // p.success{color: rgb(153, 153, 153);}
      .btnwrapper{
        display: flex;
        justify-content: center;
        margin-top: 0.1333rem;
        .btn{
          display: block;
          padding: 0.0667rem 0.4rem;
          background: $btn_maincolor;
          border-radius: 0.2rem;
          border: 1px solid $btn_maincolor;
          color: white;
          font-size: 0.2133rem;
        }
        .boot{
          background: rgba(153, 153, 153,0);
          border: 1px solid rgb(153, 153, 153);
          color: rgb(77, 77, 77);
        }
        .look{
          font-size: 0.1733rem;
          color: rgb(102, 102, 102);
        }
      }
    }
  }
}

// 标题
.title{
  font-size: 0.2rem;
  color: $title_fontColor;
  padding: 0.2rem 0.2667rem 0;
  height: 0.8rem;
}
// 状态
.state{font-size: 0.1733rem;padding: 0.2rem 0;color: rgb(254, 64, 64);}
//时间
.time{font-size: 0.16rem;padding: 0.1333rem 0;color: rgb(102, 102, 102);}

.frame-ercode{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  display: flex;
  // justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1.3333rem;
  .frame-inner{
    background: $bg_mainColor;
    height: 4.4533rem;
    width: 3.5867rem;
    position: relative;
    p{text-align: center;}
    .title{padding-top: 0.2667rem;}
    .state{
      padding: 0rem;
    }
    .img-wrapper{
      text-align: center;
      margin-top: 0.24rem;
      img{
        display: inline-block;
        height: 2.2667rem;
        width: 2.2667rem;
        background: $btn_maincolor;
      }
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);
      width: 2.2667rem;
      height: 0.0667rem;
      background: $bg_decColor;
    }

  }
  .btn-wrapper{
    margin-top: 0.6667rem;
    text-align: center;
    button{
      font-size: 0.2rem;
      background: $btn_maincolor;
      color: white;
      border: 0.0133rem solid rgb(255, 229, 211);
      border-radius: 0.0667rem;
      padding: 0.1333rem 0.7333rem;
    }
  }
}
