<template>
  <section class="person-common">
    <section class="person-msg">
      <p class="fz16dark">个人信息</p>
      <p class="tips">读取相关部门系统数据并辅助填写个人信息</p>
      <ul class="msg-list">
        <li>
          <span>姓名</span>
          <span>{{$store.state.userInfo.name}}</span>
        </li>
        <li>
          <span>性别</span>
          <span>{{$store.state.userInfo.sex ? '男' : '女'}}</span>
        </li>
        <li>
          <span>出生日期</span>
          <span>{{$store.state.userInfo.birthday}}</span>
        </li>
        <li>
          <span>户籍所在地</span>
          <span>{{$store.state.userInfo.sendCard}}</span>
        </li>
        <li>
          <span>民族</span>
          <span>{{$store.state.userInfo.nation}}</span>
        </li>
      </ul>
    </section>

    <section class="person-msg">
      <p class="fz16dark">填写个人信息</p>
      <p class="tips">读取相关部门系统数据并辅助填写个人信息</p>
      <ul class="msg-list editable">
        <li @click="$router.push({path: '/personDetail/edit/busiName'})">
          <span>公司名称</span>
          <span>{{$store.state.editableUserInfo.business}}</span>
        </li>
        <li @click="$router.push({path: '/personDetail/edit/phone'})">
          <span>手机号码</span>
          <span>{{$store.state.editableUserInfo.phoneNumber}}</span>
        </li>
        <li @click="$router.push({path: '/personDetail/edit/position'})">
          <span>收件地址</span>
          <span>{{$store.state.editableUserInfo.collectAddress}}</span>
        </li>
        <li @click="$router.push({path: '/personDetail/edit/email'})">
          <span>电子邮箱</span>
          <span>{{$store.state.editableUserInfo.email}}</span>
        </li>
        <li @click="$router.push({path: '/personDetail/edit/emergency'})">
          <span>紧急联系人</span>
          <span>{{$store.state.editableUserInfo.emergency}}</span>
        </li>
      </ul>
    </section>
  </section>
</template>

<script>
import '../personDetail.scss'
export default {
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>

<style lang="scss">

</style>
