<template>
  <section class="edit_page">
    <!-- <router-view></router-view> -->
    <component v-bind:is="currentTabComponent"></component>
    <!-- <Button /> -->
  </section>
</template>

<script>
// import Button from '../../__button/__button'
import Business from '../_edit_business/_edit_business'
import Position from '../_edit_position/_edit_position'
import Phone from '../_edit_phone/_edit_phone'
import Email from '../_edit_email/_edit_email'
import Emergency from '../_edit_contact/_edit_contact'
export default {
  components: {
    // 'Button': Button,
    'Business': Business,
    'Position': Position,
    'Phone': Phone,
    'Email': Email,
    'Emergency': Emergency
  },
  mounted () {
    console.log(this.$route.params)
  },
  computed: {
    currentTabComponent () {
      switch (this.$route.params.type) {
        case 'busiName':
          return 'Business'
        case 'phone':
          return 'Phone'
        case 'position':
          return 'Position'
        case 'email':
          return 'Email'
        case 'emergency':
          return 'Emergency'
        default:
          break;
      }
    }
  }
}
</script>

<style lang="scss">

</style>
