<template>
  <section class="list-wrapper">
    <ul class="vertical-list">
      <li v-if="$store.state.commonTableList.length" v-for="(item, idx) in $store.state.commonTableList" :key="item.itemKey">
        <p class="list-title">{{item.name}}: </p>
        <span class="list-tips validate-tips-wran"> {{item.itemValue ? '' : '这是必填项'}}</span>

        <input @click="res => $refs.picker.open()" class="mdate list-detail" v-if="item.itemKey === 'business_register_date'" readonly :name="item.itemKey" :value="time" placeholder="请选择时间" type="text">
        <input v-else :name="item.itemKey" :value="item.itemValue" @input="changeItemValue(idx, $event)" :placeholder="'请输入' + item.name" class="list-detail" type="text">
      </li>
      <!-- <li>
        <p class="list-title">经营者英文名称: </p>
        <input v-model="operator_en_name" placeholder="请输入你的英文名字（或拼音）" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">组织机构代码: </p>
        <input v-model="company_code" placeholder="请输入你的组织机构代码" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">事件类型: </p>
        <p class="list-tips">由备案登记机关填写</p>
        <input class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">住所: </p>
        <input v-model="live_address" placeholder="请输入你的住所地址" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">经营场所(中文): </p>
        <input v-model="product_address" placeholder="请输入经营场所(中文)" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">经营场所(英文): </p>
        <input v-model="product_en_address" placeholder="请输入经营场所(英文)" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">联系电话: </p>
        <input v-model="contact_phone" placeholder="请输入联系电话" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">联系传真: </p>
        <input v-model="contact_fax" placeholder="请输入联系传真" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">邮政编码: </p>
        <input v-model="postalcode" placeholder="请输入邮政编码" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">电子邮箱: </p>
        <input v-model="email" placeholder="请输入电子邮箱" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">工商登记（注册日期）: </p>
        <input v-model="business_register_date" placeholder="请输入工商登记(注册日期)" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">工商登记注册号: </p>
        <input v-model="business_register_code" placeholder="请输入工商登记注册号" class="list-detail" type="text">
      </li> -->
    </ul>
    <wv-datetime-picker
      ref="picker"
      type="date"
      :startDate="date"
      year-format="{value} 年"
      month-format="{value} 月"
      date-format="{value} 日"
      v-model="pickerValue"
      @confirm="handleConfirm"
      @cancel="cancel">
    </wv-datetime-picker>
  </section>
</template>

<script>
export default {
  mounted () {
    this.$store.dispatch("fetchTableDetail", {
      userId: this.$store.state.userInfo.id,
      // userId: 23,
      processId: this.$route.query.processId,
      tableId: this.$route.query.tableId
    }).then(res => {
      if (res.status === "000") {
        // 保存回填的数据
        console.log(res.data, '回填')
        this.$store.commit("catchCommonTableList", res.data);
        console.log(res.data);
      }
    });
  },
  methods: {
    changeItemValue (idx, e) {
      this.$store.commit('updateCommonTableList', {idx: idx, val: e.target.value})
    },
    handleConfirm (date) {
      this.time = `${date.getFullYear()}年${date.getMonth() +
      1}月${date.getDate()}日 星期${this.getChineseDay(date.getDay())}`;
      this.$store.commit('updateCommonTableList', {idx: 10, val: this.time})
      this.$refs.picker.close();
    },
    cancel () {},
    getChineseDay(day) {
      switch (day) {
        case 1:
          return "一";
        case 2:
          return "二";
        case 3:
          return "三";
        case 4:
          return "四";
        case 5:
          return "五";
        case 6:
          return "六";
        case 7:
          return "日";
        default:
          break;
      }
    }
  },
  computed: {

  },
  data () {
    return {
      pickerValue: '',
      date: new Date(),
      time: '',
    }
  }
}
</script>

<style>

</style>
