<template>
  <section>
    <section class="phone-msg">
      <div class="from-phone">
        <label for="catchPhone">手机号码</label>
        <input v-model="phone" id="phone" placeholder="请输入手机号" type="text">
      </div>
    </section>
    <Button v-on:saveData="savePhone"></Button>
  </section>
</template>

<script>
import Button from '../../__button/__button'
export default {
  components: {
    Button: Button
  },
  data () {
    return {
      phone: ''
    }
  },
  mounted () {
  },
  methods: {
    savePhone () {
      this.$store.commit('updataEditableUserInfo', {
          type: 'phoneNumber',
          value: this.phone
      })
    }
  },
  computed: {
    catchPhone: {
      get () {
        return this.$store.state.editableUserInfo.phone
      },
      set (value) {
        this.phone = value
      }
    }
  }
}
</script>

<style lang="scss">
$bg_maincolor: rgb(239,239,244);
.phone-msg{
  background: $bg_maincolor;
  overflow: hidden;
  .from-phone{
    margin-top: 0.1333rem;
    background: white;
    padding: 0.2267rem 0.1333rem;
    label{background: white;margin-right: 0.4rem;}
    input{background: white;font-size: 0.2133rem;}
  }
}
</style>
