<template>
  <section class="work-guide">
    <Head :txt="{title: '企业办事指南'}"></Head>
    
    <Crumbs />

    <router-view></router-view>

  </section>
</template>

<script>
import Head from '../__head/__head'
import './work_guide.scss'
import Crumbs from '../__crumbs/__crumbs'
export default {
  data () {
    return {
      
    }
  },
  methods: {
    
  },
  components: {
    'Head': Head,
    'Crumbs': Crumbs
  }
}
</script>
