<template>
  <section class="person-detail">
    <Header :txt="{title: '填写个人信息'}" />

    <router-view></router-view>

  </section>
</template>

<script>
import Header from '../__head/__head'
import './personDetail.scss'

export default {
  data () {
    return {
      
    }
  },
  methods: {
    
  },
  components: {
    'Header': Header
  }
}
</script>

<style>

</style>
