$bg_maincolor: rgb(239,239,244);
$title_color: rgb(51,51,51);
$sectitie_color:rgb(153,153,153);
$border_color : rgb(230,230,230);

.person-common{
  padding-bottom: 10px;
}

.person-detail{
  background: $bg_maincolor;
  height: 100%;
  // overflow: hidden;
  padding-bottom: 10px;
  .person-msg{
    background: white;
    margin-top: 0.1333rem;
    padding: 0.2rem 0.16rem 0;
    .title{
      font-size: 0.2rem;
      color: $title_color;
    }
    .tips{
      font-size: 0.16rem;
      color: $sectitie_color;
    }
    .msg-list{
      margin-top: 0.1333rem;
      li{
        border-top: 0.0133rem solid $border_color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 0;
        span{
          font-size: 0.2rem;
        }
        span:nth-child(1){
          color: rgb(77, 77, 77);
        }
        span:nth-child(2){
          color: rgb(153, 153, 153);
        }
      }
    }
    .editable{
      li{
        span:nth-child(2){
          color: $title_color;
          &:after{
            content: '';
            margin-left: 0.0933rem;
            display: inline-block;
            width: 0.1067rem;
            height: 0.1867rem;
            vertical-align: middle;
            background: url('../../assets/common/arrow_right.png');
            background-size: cover;
          }
        }
      }
    }
  }
}