<template>
  <div class="personbtn-wrapper">
    <button @click="$emit('saveData')">
      保存
    </button>
  </div>
</template>

<script>

export default {
  // methods: {
  //   save () {
  //     console.log('这不是保存了吗')
  //   }
  // }
}
</script>

<style lang="scss">
.personbtn-wrapper{
  text-align: center;
  margin-top: 0.2667rem;
  padding: 0 12px;
  button{
    display: inline-block;
    height: 0.64rem;
    width: 4.68rem;
    background: rgb(26, 173, 25);
    border: 0.0133rem solid rgb(21, 139, 20);
    color: white;
    line-height: 0.64rem;
    text-align: center;
    border-radius: 0.0533rem;
  }
}
</style>
