<template>
  <section class="list-wrapper">
    <p class="fz14ping paddingbox">依法办理工商登记的企业还须填写一下内容(选填)</p>
    <ul class="vetical-list">
      <li v-for="(item, idx) in $store.state.registerBusiness" :key="item.itemKey">
        <p class="list-title">{{item.name}}: </p>
        <input :value="item.itemValue" @input="changeRegisterItemValue(idx, $event)" :placeholder="'请输入' + item.name" class="list-detail" type="text">
      </li>
      <!-- <li>
        <p class="list-title">有效证件号: </p>
        <input v-model="valid_certificates_number" placeholder="请输入有效证件卡号" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">注册资金: </p>
        <p class="list-tips">如以人民币注册可不填写（折美元）</p>
        <input v-model="registered_capital" placeholder="请输入注册资金" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">备注: </p>
        <input v-model="remark" placeholder="请输入备注" class="list-detail" type="text">
      </li> -->
    </ul>
    <div class="line"></div>
    <p class="fz14ping paddingbox">依法办理工商登记的外国(地区)企业或个体工商户(独资经营者)还须填写以下内容(选填)</p>
    <ul class="vetical-list">
      <li v-for="(item, idx) in $store.state.foreignerRegisterBusiness" :key="item.itemKkey">
        <p class="list-title">{{item.name}}: </p>
        <input :value="item.itemValue" @input="changeForeignerRegisterItemValue(idx, $event)" :placeholder="'请输入' + item.name" class="list-detail" type="text">
      </li>
      <!-- <li>
        <p class="list-title">有效证件号: </p>
        <input v-model="corporation_name_or_individual_business_leader_number" placeholder="请输入有效证件号" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">企业资产/个人资产: </p>
        <p class="list-tips">如以人民币注册可不填写（折美元）</p>
        <input v-model="enterprise_assets_or_personal_property" placeholder="请输入企业资产/个人资产" class="list-detail" type="text">
      </li>
      <li>
        <p class="list-title">备注: </p>
        <input v-model="remark" placeholder="请输入备注" class="list-detail" type="text">
      </li> -->
    </ul>
  </section>
</template>

<script>
export default {
  mounted () {
  },
  methods: {
    changeRegisterItemValue (idx, e) {
      this.$store.commit('updataRegisterBusiness', {idx: idx, val: e.target.value})
    },
    changeForeignerRegisterItemValue (idx, e) {
      this.$store.commit('updataForeignerRegisterBusiness', {idx: idx, val: e.target.value})
    }
  },
  computed: {
   
  }
}
</script>

<style lang="scss">

</style>
