<template>
  <section>
    <section class="edit-businessinfo">
      <ul  v-if="userCompany.length" class="padding-wrapper">
        <li v-for="item in userCompany">
          <input @change="onChange" name="bsn" id="idx1" type="radio">
          <label for="idx1">暂无公司</label>
          <!-- <span class="choose"></span> -->
        </li>
      </ul>
      <ul  v-else class="padding-wrapper">
        <li>
          暂无公司,请添加公司。
        </li>
      </ul>
    </section>
    <Button v-on:saveData="saveBusiness"></Button>
  </section>
</template>

<script>
import Button from '../../__button/__button'
export default {
  data () {
    return {
      userCompany: []
    }
  },
  components: {
    Button: Button
  },
  mounted() {
    this.$http.get (this.$secondURL.userCompany, {
      userId: this.$store.state.userInfo.id
    }).then((res) => {
      console.log(res.data.itemList, '用户公司')
      if (res.status === '000') {
        this.userCompany = res.data.itemList
      }
    })
  },
  methods: {
    onChange (e) {
      this.business = e.target.nextElementSibling.innerHTML
    },
    saveBusiness () {
      this.$store.commit('updataEditableUserInfo', {
        type: 'business',
        value: this.business
      })
      this.$router.back();
    }
  }
}
</script>

<style lang="scss">
.edit-businessinfo {
  margin-top: 0.1333rem;
  .padding-wrapper {
    li {
      padding: 0.2rem 0 !important;
      position: relative;

      input {
        position: absolute;
        opacity: 0;
      }
      // .choose {
      //   width: 18px;
      //   height: 18px;
      // }
      label{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input[type="radio"] + label:after{
        content: '';
        display: inline-block;
        height: 0.2533rem;
        width: 0.2533rem;
      }
      input[type="radio"]:checked + label:after{
        background: url('../../../assets/form/checked.png');
        background-size: cover;
      }
    }
  }
}
</style>
