<template>
  <section class="search-result">
    <p>搜索结果</p>
    <ul v-if="resultList.length" class="result-list">
      <li  v-for="(item,idx) in resultList" :key="idx" @click="toEditTable(item)" >{{item.itemName}}</li>
    </ul>
    <ul v-else class="result-list">
      <li>我都找遍了就是没找到</li>
    </ul>
  </section>
</template>

<script>
export default {
  props: ['resultList'],
  data () {
    return {

    }
  },
  methods: {
    toEditTable (item) {
      this.$router.push({
        path: '/workguide/watch',
        query: {
          itemId: item.id
        }
      })
    }
  }
}
</script>

<style lang="scss">
$bg_mainColor: rgb(230, 230, 230);

.search-result{
  padding: 0 0.16rem;
    p{font-size: 0.16rem;color: rgb(102, 102, 102);}
  .result-list{
    margin-top: 0.2rem;
    border-top:0.0133rem solid $bg_mainColor;
    li {
      padding: 0.2667rem 0;
      border-bottom: 0.0133rem solid $bg_mainColor;
      font-size: 0.2rem;
      color: rgb(51, 51, 51);
      display: flex;
      justify-content: space-between;
      &::after{
        content: '';
        width: 0.1067rem;
        height: 0.2rem;
        background: url('../../../assets/common/arrow_right.png') no-repeat;
        background-size: cover;
        // background: #000;
      }
    }
  }
}

</style>
