$bg_mainColor: rgb(241, 246, 249);
$font_mainColor: rgb(102, 102, 102);
$font_darkColor: rgb(51, 51, 51);

.sec-container{
  padding:0.2rem 0.16rem;
  margin-top: 0.0667rem;
  background: white;
}
.location-container{
  background: $bg_mainColor;
  .sec-container{
    display: flex;
    position: relative;
    align-items: center;
    .txt-left{
      color: $font_mainColor;
      font-size: 0.1733rem;
      margin-right: 0.1333rem;
    }
    .real-location{
      color: $font_darkColor;
      font-size: .18rem;
      height: 100%;
    }
    .right-arrow{
      position: absolute;
      right: 0.16rem;
      top: 50%;
      margin-top: -0.1067rem;
      width: 0.1067rem;
      height: 0.2133rem;
      background: url('../../assets/common/arrow_right.png');
      background-size: cover;
    }
  }

  .padding-wrapper{
    .list-wrapper{
      .list-item{
        padding: 0.2rem 0;
        display: flex;
        justify-content: space-between;
        .fz14ping:before{
          content: '';
          width: 0.16rem;
          height: 0.2133rem;
          display: inline-block;
          margin-right: 0.0667rem;
          vertical-align: baseline;
          background: url('../../assets/location/location_icon.png');
          background-size: cover;
        }
      }


    }
  }
}
