<template>
  <section class="location-container">
    <Head :txt="{title: '选择定位'}"></Head>
    <section @click="() => addressPickerShow = true" class="sec-container">
      <span class="txt-left">当前定位: </span>
      <p  class="real-location">{{
        address | pickerValueFilter
        }}</p>
      <i class="right-arrow"></i>
    </section>
    <section style="margin: 0;border-top: 1px solid #888;" class="sec-container">
      <span class="txt-left">详细地址: </span>
      <input placeholder="请输入详细地址" type="text" class="real-location" v-model="detailLocation" />
      <!--<i class="right-arrow"></i>-->
    </section>

    <section class="padding-wrapper">
      <ul class="list-wrapper">
        <li class="list-item bblight">
          <span  class="fz14mian">选择地点</span>
          <span @click="reGetLocation"  class="fz14ping">重新定位</span>
        </li>
        <!--<li class="list-item flexait bblight">-->
          <!--<div>-->
            <!--<p class="fz15dark">天河公安分局</p>-->
            <!--<p class="fz12light">广州市天河区龙东路123号培天河区司法局5楼</p>-->
          <!--</div>-->
          <!--<span class="fz12green">推荐5.6公里</span>-->
        <!--</li>-->
        <!--<li class="list-item flexait bblight">-->
          <!--<div>-->
            <!--<p class="fz15dark">天河公安分局</p>-->
            <!--<p class="fz12light">广州市天河区龙东路123号培天河区司法局5楼</p>-->
          <!--</div>-->
          <!--<span class="fz12main">5.6公里</span>-->
        <!--</li>-->
      </ul>
    </section>

    <wv-picker
      @click.self="handleWhite"
      :visible.sync="addressPickerShow"
      v-model="address"
      ref="addressPicker"
      :columns="addressColumns"
      @change="onAddressChange"
      @confirm="confirmAddress"></wv-picker>

  </section>
</template>

<script>
  import chinaAreaData from 'china-area-data'
  const provinces = Object.values(chinaAreaData[86]);
  // 获取某一省下的市
  const getCities = (province) => {
    let provinceCode;
    for (let i in chinaAreaData[86]) {
      if (province === chinaAreaData[86][i]) {
        provinceCode = i;
        break;
      }
    }
    return typeof chinaAreaData[provinceCode] === 'object' ? Object.values(chinaAreaData[provinceCode]) : []
  };
  // 获取某一市下的区/县
  function getAreas (province, city) {
    let provinceCode, cityCode;
    for (let i in chinaAreaData[86]) {
      if (province === chinaAreaData[86][i]) {
        provinceCode = i;
        break
      }
    }
    for (let i in chinaAreaData[provinceCode]) {
      if (city === chinaAreaData[provinceCode][i]) {
        cityCode = i;
        break
      }
    }
    if (chinaAreaData[cityCode]) {
      return typeof chinaAreaData[cityCode] === 'object' ? Object.values(chinaAreaData[cityCode]) : []
    } else {
      // 只有两级的情况
      return []
    }
  }
  import './location.scss'
  import Head from '../__head/__head'
  export default {
    components: {
      'Head': Head
    },
    data () {
      let address = [this.$store.getters.probablyLocation];
      return {
        addressPickerShow: false,
        address,
        addressColumns: [
          {
            values: provinces
          },
          {
            values: getCities('广东省')
          },
          {
            values: getAreas('广东省', '广州市')
          }
        ],
        detailLocation: ''
      }
    },
    mounted () {
      this.$nextTick(() => {
        console.log(this.$store.getters.probablyLocation);
        this.$refs.addressPicker.setValues(['广东省', '广州市', '天河区'])
      })
    },
    methods: {
      onChange (picker, value) {
        console.log(value)
      },
      onAddressChange (picker, addressValues, slotIndex) {
        if (slotIndex === 0) {
          const cities = getCities(addressValues[0]);
          picker.setColumnValues(1, cities);
          picker.setColumnValues(2, getAreas(addressValues[0], cities[0]))
        } else if (slotIndex === 1) {
          picker.setColumnValues(2, getAreas(addressValues[0], addressValues[1]))
        }
      },
      confirmAddress (picker) {
        this.address = picker.getValues()
      },
      handleWhite () {

      },
      reGetLocation () {
        this.$store.dispatch('getLocation').then(res => {
          // todo
        });
      }
    },
    computed: {

    },
    filters: {
      pickerValueFilter (val) {
        if (Array.isArray(val)) {
          return val.toString().replace(/,/g,'/');
        } else {
          return val
        }
      }
    }
  }

</script>

