<template>
  <section>
    <section class="work-container">
      <ul class="work-list">
        <li>
          <span>办理业务: </span>
          <span>食品经营许可证申请</span>
        </li>
        <li>
          <span>申请机构: </span>
          <span>食品经营许可证申请</span>
        </li>
        <li>
          <span>办事地址: </span>
          <div class="particulars-wrapper">
            <p class="particulars">xx市xx区xx路xx号</p>
            <div class="particulars-b">
              <p class="tips">上述地址离您当前位置最近</p>
              <span class="btn-locaation">重选办事区域</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="picker-wrapper">
        <p class="caption">选择办事日期: </p>
        <p class="btn-datapicker" @click="showPicker" >{{time}}</p>
      </div>
      <div class="picker-wrapper">
        <p class="caption">选择办事时间段: </p>
        <dl class="time-list">
          <dt>上午9：00~12：00</dt>
          <dd><input id="morning1" name="morning" type="radio"><label for="morning1">9:00~10:00</label></dd>
          <dd><input id="morning2" name="morning" type="radio"><label for="morning2">10:00~11:00</label></dd>
          <dd><input id="morning3" name="morning" type="radio"><label for="morning3">11:00~12:00</label></dd>
        </dl>
      </div>
      <div class="picker-wrapper">
        <p class="caption">选择办事时间段: </p>
        <dl class="time-list">
          <dt>下午14：00~18：00</dt>
          <dd><input id="afternoon1" name="morning" type="radio"><label for="afternoon1">14:00~15:00</label></dd>
          <dd><input id="afternoon2" name="morning" type="radio"><label for="afternoon2">15:00~16:00</label></dd>
          <dd><input id="afternoon3" name="morning" type="radio"><label for="afternoon3">16:00~17:00</label></dd>
          <dd><input id="afternoon4" name="morning" type="radio"><label for="afternoon4">17:00~18:00</label></dd>
        </dl>
      </div>

      <section class="appointment-footer">
        <p class="appointment-footer-tips">注: 请按照预约时间进行业务处理，提交后不得修改</p>
        <div class="appointment-btn">
          <button>返回修改</button>
          <button>确认预约</button>
        </div>
      </section>
    </section>


    <wv-datetime-picker
      ref="picker"
      type="date"
      :startDate="date"
      year-format="{value} 年"
      month-format="{value} 月"
      date-format="{value} 日"
      v-model="pickerValue"
      @confirm="handleConfirm"
      @cancel="cancel">
    </wv-datetime-picker>
  </section>
</template>

<script>
export default {
  methods: {
    showPicker() {
      console.log('a ha')
      this.$refs.picker.open();
    },
    getChineseDay(day) {
      switch (day) {
        case 1:
          return "一";
        case 2:
          return "二";
        case 3:
          return "三";
        case 4:
          return "四";
        case 5:
          return "五";
        case 6:
          return "六";
        case 7:
          return "日";
        default:
          break;
      }
    },
    handleConfirm(date) {
      // window.alert(date);
      this.time = `${date.getFullYear()}年${date.getMonth() +
        1}月${date.getDate()}日 星期${this.getChineseDay(date.getDay())}`;
      this.$refs.picker.close();
    },
    cancel () {
      // console.log('你点击了没')
      // this.$refs.picker.close();
    }
  },
  data() {
    return {
      time: "",
      pickerValue: "",
      date: new Date()
    };
  },
  created() {
    let date = new Date();
    this.time = `${date.getFullYear()}年${date.getMonth() +
      1}月${date.getDate()}日 星期${this.getChineseDay(date.getDay())}`;
  }
};
</script>

<style lang="scss">
$bg_mainColor: rgb(241, 246, 249);
$font_mainColor: rgb(102, 102, 102);
$font_darkColor: rgb(51, 51, 51);
$font_lightColor: rgb(153, 153, 153);

.work-container {
  padding: 0 0.16rem;
  background: white;
  margin-top: 0.0667rem;
  .work-list {
    li {
      padding: 0.2rem 0;
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid $bg_mainColor;
      span:nth-child(1) {
        color: $font_mainColor;
        margin-right: 0.0667rem;
      }
      span:nth-child(2) {
        font-size: 0.2rem;
        color: $font_darkColor;
      }
      .particulars-wrapper {
        flex: 1;
        .particulars {
          font-size: 0.2rem;
          color: $font_darkColor;
        }
        .particulars-b {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 0.1733rem;
          .tips {
            color: $font_lightColor;
            font-size: 0.16rem;
          }
          .btn-locaation {
            font-size: 0.1733rem;
            height: 0.3333rem;
            width: 1.2333rem;
            line-height: 0.3333rem;
            text-align: center;
            border-radius: 0.0533rem;
            color: rgb(250, 102, 102);
            border: 1px solid rgb(250, 102, 102);
          }
        }
      }
    }
  }

  .picker-wrapper {
    .caption {
      padding: 0.2rem 0;
      color: $font_mainColor;
    }
    .btn-datapicker {
      padding: 0.1733rem;
      border: 1px solid $font_darkColor;
      text-align: center;
      border-radius: 0.0667rem;
      font-size: 0.2rem;
      color: rgb(47, 67, 172);
      //position: re;
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 0.04rem;
        margin-left: 0.1333rem;
        width: 0rem;
        height: 0rem;
        border: 1px solid;
        border-color: $font_darkColor transparent transparent transparent;
      }
    }
    .time-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      dt {
        width: 100%;
        color: $font_lightColor;
        //padding: 0.2rem 0;
      }
      dd {
        position: relative;
        margin-right: 0.1867rem;
        margin-top: 0.2rem;
        input {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
        label {
          display: block;
          border: 1px solid $font_lightColor;
          color: $font_lightColor;
          padding: 0.0667rem 0.1467rem;
          border-radius: 0.22rem;
        }
        input[type="radio"]:checked + label {
          color: rgb(40, 71, 226);
          border: 1px solid rgb(78, 107, 253);
        }
      }
    }
  }

  .appointment-footer {
    margin-top: 0.2rem;
    background: white;
    padding-bottom: 0.2667rem;
    .appointment-footer-tips {
      font-size: 0.16rem;
      color: rgb(248, 160, 65);
    }
    .appointment-btn {
      margin-top: 0.6667rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        height: 0.5333rem;
        width: 2.2667rem;
        line-height: 0.5333rem;
        border-radius: 0.0667rem;
      }
      button:nth-child(1) {
        background: white;
        color: rgb(83, 105, 217);
        border: 1px solid rgb(83, 105, 217);
      }
      button:nth-child(2) {
        background: rgb(83, 105, 217);
        color: white;
        border: 1px solid rgb(83, 105, 217);
      }
    }
  }
}
</style>
