<template>
  <div>
    <p class="towSide up-down-space">{{slideTitle}} <span><span @click="slideUp">向上</span><span @click="slideDown">向下</span></span> </p>
    <div :class="['slide-wrapper', noBottomLine ? '' : 'bottom-line']" :style="style" ref="slide">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  components: {

  },
  data () {
    return {
      isMount: false,
      scrollHeight: 0,
      active: this.initActive,
      noBottomLine: this.bottomLine
    }
  },
  props: {
    slideTitle: String,
    initActive: Boolean,
    bottomLine: Boolean
  },
  methods: {
    slideUp (event) {
      this.active = false
      this.layout()
    },
    slideDown (event) {
      this.active = true
      this.layout()
    },
    layout () {
      console.log(this.$refs)
      const {slide} = this.$refs
      this.scrollHeight = slide.scrollHeight
    }
  },
  mounted() {
    this.$nextTick(function () {
      this.layout()
      this.isMount = true;
    })
  },
  computed: {
    style () {
      const height = this.active ? this.scrollHeight : 0

      return {
        // transition: 'all',
        // 'transition-property': 'height',
        height: this.isMount ? height + 'px' : 'auto'
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .towSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .slide-wrapper {
    transition: height;
    overflow: hidden;
    transition-duration: 1000ms;
  }
  .bottom-line {
    border-bottom: 1px solid #F7F7FA;
  }
  .up-down-space {
    padding: 12px;
  }
</style>
