<template>
  <header v-if="txt" class="common-header">
    <!-- <h1> <i @click="back" class="back"></i>{{txt.title}}</h1> -->
  </header>
</template>

<script>
export default {
  props: ['txt'],
  data () {
    return {
    }
  },
  methods: {
    back () {
      this.$router.back();
    }
  }
}
</script>

<style scoped  lang="scss">
  .common-header{
    background: white;
    h1{
      padding: 0.2667rem;
      font-size: 0.2rem;
      position: relative;
      text-align: center;
      font-weight: normal;
      i{
        left: 0.1333rem;
        top: 0.28rem;
        position: absolute;
        display: block;
        height: 0.24rem;
        width: 0.1467rem;
        background: url('../../assets/personCenter/back.png');
        background-size: cover;
      }
    }
  }
</style>
