<template>
  <section class="appointment">
    <Head :txt="{title: '预约办理业务'}"></Head>

    <router-view></router-view>
    
  </section>
</template>

<script>
  import Head from '../__head/__head'
  import './appointment.scss'
  export default {
    components: {
      'Head': Head
    }
  }
</script>

<style lang="scss">

</style>
