$bg_mainColor:rgb(241, 246, 249);
.basemsg-wrapper {
  .main-container {
    background: rgb(241, 246, 249);
    padding: 0.1333rem 0 0;
    .progress-container {
      background: white;
      padding: 0rem 0.16rem;
      .progress-wrapper {
        padding: 0.1333rem 0rem;
        display: flex;
        border-bottom: 0.0133rem solid rgb(191, 191, 191);
        .progress-list {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-left: 0.1333rem;
          li {
            margin-right: 0.1333rem;
            text-align: center;
            border-radius: 50%;
            width: 0.24rem;
            // padding: 0.1067rem;
            height: 0.24rem;
            line-height: 0.24rem;
            position: relative;
            color: white;
            font-size: 0.1333rem;
            &::after {
              content: '';
              left: 0.2267rem;
              top: 0.0934rem;
              position: absolute;
              display: block;
              height: 0.0667rem;
              width: 0.16rem;
            }
            &:nth-last-child(1) {
              &::after {
                display: none;
              }
            }
          }
          .progress-dark {
            background: rgb(255, 94, 94);
            &::after {
              background: rgb(191, 191, 191);
            }
          }
          .progress-light {
            background: rgb(191, 191, 191);
            &::after {
              background: rgb(191, 191, 191);
            }
          }
          .complete {
            background: rgb(26, 173, 25);
            &::after {
              background: rgb(26, 173, 25);
            }
          }
        }
      }
    }
    .list-wrapper{
      background: white;
      padding: 0 0.16rem 0.2rem;
      .vertical-list{
        li{
          position: relative;
        }
      }
      .line{
        margin: 0.4667rem 0 0.26rem;
        height: 1px;
        background: rgb(100, 100, 100);
      }
      .paddingbox{
        padding-top: 0.1333rem;
      }
      .list-title{
        padding: 0.1867rem 0 0.1333rem 0;
        
      }
      .list-tips{
        position: absolute;
        top: 0.5333rem;
        left: 0;
      }
      .list-detail{
        width: 100%;
        margin-top: 0.2667rem;
        padding: 0.1733rem 0.1333rem;
        border-radius: 0.0667rem;
        border: 0.0133rem solid rgb(102, 102, 102);
        color: rgb(51, 51, 51);
        font-size: 0.2rem;
      }
    }

    .basemsg-footer{
      display: flex;
      background: white;
      justify-content: space-between;
      padding: 0.6667rem 0.16rem 0.2667rem;
      button{
        // font-size: 0.1867rem;
        // color: rgb(102, 102, 102);
        padding: 0.16rem 0;
        width: 2.2667rem;
        text-align: center;
        border-radius: 0.0667rem;
      }
      button:nth-child(1){
        background: white;
        color: rgb(102, 102, 102);
        border: 0.0133rem solid rgb(102, 102, 102);
      }
      button:nth-child(2){
        background: rgb(26, 173, 25);
        color: white;
        border: 0.0133rem solid rgb(21, 139, 20);
      }
    }
  }
}
