<template>
<section class="basemsg-wrapper">
  <Head :txt="{title: '基本信息'}"></Head>
  <section class="main-container">
    <div class="progress-container">
      <div class="progress-wrapper">
        <span class="txt">填写进度</span>
        <ul class="progress-list">
          <li :class="[$route.path.includes('commonlist') ? 'progress-dark' : 'complete']">1</li>
          <li :class="[$route.path.includes('msglist') ? 'progress-dark' : 'progress-light']">2</li>
          <!-- <li class="progress-dark">3</li> -->
          <!-- <li class="progress-light">4</li> -->
          <!-- <li class="progress-light">5</li> -->
        </ul>
      </div>
    </div>

    <router-view></router-view>

    <section v-if="$route.path.includes('commonlist')" class="basemsg-footer">
      <button @click="back">返回上一部</button>
      <button @click="toNext">保存/下一步</button>
    </section>
    <section v-else class="basemsg-footer">
      <button @click="back">返回上一部</button>
      <button @click="saveTableData">保存/预约办理</button>
    </section>
  </section>
  <!--<router-view></router-view>-->
</section>
</template>

<script>
import "./basemsg.scss";

import Head from "../__head/__head";

export default {
  components: {
    Head: Head
  },
  mounted () {
    console.log(this.$route.query, 'basemsg参数');
  },
  methods: {
    back () {
      this.$router.back()
    },
    toNext () {
      console.log('tonext')
      let savble = this.$store.state.commonTableList.every((item) => {
        if (item.itemValue) {
          return true
        } else {
          return false
        }
      })
      if (savble) {
        this.$router.push({
          path: '/basemsg/msglist',
          query: this.$route.query
        });
      } else {

        this.$store.commit("updataTips", "请完成必填项");
        this.$store.commit("changeTipsStatus");
      }

    },
    saveTableData () {
      console.log(this.$route.query)

        this.$http.post(this.$secondURL.saveTableData, {
          tableData: JSON.stringify({
            tableId: this.$route.query.tableId,
            processId: this.$route.query.processId,
            userId: this.$store.state.userInfo.id,
            commonList: this.$store.state.commonTableList,
            tableList: [
              ...this.$store.state.registerBusiness,
              ...this.$store.state.foreignerRegisterBusiness
            ]
          })
        }).then((res) => {
            if (res.status === '000') {
              // todo
              this.$http.post(this.$secondURL.formSubmit, {
                formId: this.$route.query.formId,
                processId: this.$route.query.processId,
                userId: this.$store.state.userInfo.id,
              }).then(res => {
                console.log(res, '保存成功');
                this.$http.get(this.$secondURL.page_userwork, {
                    userId: this.$store.state.userInfo.id,
                    operStatus: "",
                    pageNumber: 0,
                    pageSize: 6
                  })
                  .then(res => {
                    if (res.status === "000") {
                      // 登录成功后导航回原来的地方 代办事项必须获取成功
                      this.$store.commit("updateTodolist", res.data.itemList);
                      this.$store.commit("changeTipsStatus");
                      this.$store.commit("updataTips", "保存成功");
                      this.$store.commit("changeTipsStatus");
                      this.$router.push('/')
                    } else {
                      console.log(res);
                      this.$store.commit("updataTips", "保存失败");
                      this.$store.commit("changeTipsStatus");
                    }
                  })
                  .catch(res => {})
              })
            }
        })

    }
  }
};
</script>

<style>

</style>
