<template>
  <section class="edit-wrapper">
    <section class="title-wrapper">
      <p class="etitle">{{$route.query.name}}申请材料</p>
      <p class="tips">填写申请表格及材料</p>
    </section>
    <section class="task-wrapper">
      <ul v-if="tableList.length" class="task-list">
        <li v-for="item in tableList" v-if="item.type !== 2" :key="item.id">
          <div class="left-wrapper">
            <p class="dark-color">{{item.name}}</p>
            <p class="light-color">材料形式: {{item.materialType}}</p>
            <p class="light-color">材料要求: {{item.materialDescription}}</p>
          </div>
          <div class="right-wrapper">
            <p :class="['state', item.opsStatus ? 'isok' : 'nook']">{{item.opsStatus ? '已完成' : '未完成'}}</p>
            <button @click="toEditBaseMsg(item)" :class="['btn-common', item.processStatus ? 'btn-light-color' : 'btn-dark-color']">{{item.processStatus ? '再次编辑' : '马上填写'}}</button>
          </div>
        </li>
      </ul>
    </section>
    <section class="edit-footer">
      <!-- <div class="btn-wrapper">
        <button class="btn-common btn-dark-color">全部填写</button>
      </div> -->
      <div class="twobtn-wrapper">
        <button @click="toWatch">查看办理指南</button>
        <button @click="toAppointment">申请预约办理</button>
      </div>
    </section>
  </section>
</template>

<script>
import "./_edit.scss";
export default {
  data() {
    return {
      tableList: []
    };
  },
  methods: {
    toWatch(item) {
      this.$router.replace({
        path: "/workguide/watch",
        query: {
          ...this.$route.query
        }
      })
    },
    toEditBaseMsg(item) {
      // console.log('asdf')
      console.log(this.$route.query);
      let { itemId } = this.$route.query;
      // var that = this;
      this.$http
        .get(this.$secondURL.save, {
          formNo: item.formId,
          itemId: itemId,
          userId: this.$store.state.userInfo.id
        })
        .then(res => {
          if (res.status === "000") {
            console.log(res.data, "我是保存记录拿到的数据");
            let processId = res.data.id;
            this.$router.push({
              path: "/basemsg/commonlist",
              query: {
                ...this.$route.query,
                formId: item.formId,
                tableId: item.id,
                processId
              }
            });
          }
        });
      // 拿回填的数据
    },
    toAppointment () {
      this.$router.push({
        path: '/appointment/common'
      })
    }
  },
  created() {
    this.$http
      .get(this.$secondURL.tableList, {
        itemId: this.$route.query.itemId,
        userId: this.$store.state.userInfo.id
      })
      .then(res => {
        if (res.status === "000") {
          this.tableList = res.data.tableList;
          console.log(this.tableList, "tablelist");
        }
      });
    // console.log(, 'edit')
  }
};
</script>

<style>
</style>
