$border_mainColor:rgb(204,204,204);
$font_lightColor: rgb(102,102,102);
.edit-wrapper{

  .btn-common{
    margin-top: 0.1467rem;
    padding: 0.1067rem 0.3333rem;
    border-radius: 0.0533rem;
    font-size: 0.1867rem;
  }
  .btn-dark-color{
    color: white;
    background: rgb(255, 98, 98);
  }

  .title-wrapper{
    padding: 0.2rem 0.16rem 0.1333rem;
    .etitle{
      font-weight: 600;
      font-size: 0.2rem;
      color: rgb(248, 122, 30);
    }
    .tips{
      margin-top: 0.1067rem;
      font-size: 0.16rem;
      color: rgb(153, 153, 153);
    }
  }
  .task-wrapper{
    padding: 0 0.16rem;
    .task-list{
      // margin-top: 0.1333rem;
      border-top: 0.0133rem solid $border_mainColor;
      li{
        border-bottom: 0.0133rem solid $border_mainColor;
        padding: 0.2rem 0rem;
        display: flex;
        justify-content: space-between;
        .left-wrapper{
          p{
            margin-top: 0.1333rem;
          }
          .dark-color{
            font-size: 0.2rem;
            color: rgb(51, 51, 51);
          }
          .light-color{
            font-size: 0.1867rem;
            color: $font_lightColor;
          }
        }
        .right-wrapper{
          .state{
            text-align: right;
            margin-top: 0.2267rem;
            font-size: 0.1733rem;
          }
          .nook{
            color: rgb(255, 43, 43);
          }
          .isok{
            color: $font_lightColor;
            // background: #000;
          }
          
          .btn-light-color{
            color: $font_lightColor;
            background: white;
            border: 0.0133rem solid $border_mainColor;
          }
        }
      }
    }
  }

  .edit-footer{
    padding: 0 0.16rem; 
    .btn-wrapper{
      display: flex;
      justify-content: flex-end;
    }
    .twobtn-wrapper{
      display: flex;
      margin-top: 0.6667rem;
      justify-content: space-between;
      button{
        padding: 0.16rem 0.5567rem;
        border-radius: 0.0667rem;
        font-size: 0.1867rem;
      }
      button:nth-child(1){
        color: rgb(83, 105, 217);
        border: 0.0133rem solid rgb(83, 105, 217);
        background: white;
      }
      button:nth-child(2){
        background: rgb(83, 105, 217);
        border: 0.0133rem solid rgb(83, 105, 217);
        color: white;
      }
    }
  }
}