<template>
  <div v-if="itemList.length" class="classdetail-wrapper">
    <div class="title">
      <h2><i :class="showicon()"></i> {{txt.name}}</h2>
      <router-link class="more" :to="`/category/${txt.serverType}/${txt.id}`"></router-link>
    </div>
    <ul class="detail">
      <li v-for="item in itemList" :key="item.id">
        <router-link class="detailitem" :to="{path: `/workguide/watch`, query: {itemId: item.id}}">{{item.itemName}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  methods: {
    showicon () {
      var what = 'goaway'
      if (this.type === 'goaway') {
        what = 'goaway'
      }
      return {
        [what]: true,
        icon: true
      }
    }
  },
  props: ['txt'],
  data () {
    return {
      // iconurl:'../../../assets/home/goaway_business.png'
      itemList: []
    }
  },
  mounted () {
    let that = this;
    if (this.txt){
      this.$http.get('/elechall/item/list',{
        pageNumber: 0,
        pageSize: 2,
        itemCategoryId: this.txt.id,
        serverType: this.txt.serverType,
        name: ''
      }).then(function (res) {
        if (res.status === '000'){
          that.itemList = res.data.itemList

        }
      })
    }
  }
}
</script>
<style lang="scss">
.icon{
  display: inline-block;
  width: 0.3067rem;
  vertical-align: bottom;
  height: 0.3067rem;
}
.goaway{
  background: url('../../../assets/home/goaway_business.png');
  background-size: cover;
}

.admin{
  background: url('../../../assets/home/admin_promise.png');
  background-size: cover;
}

.fire{
  background: url('../../../assets/home/fire_business.png');
  background-size: cover;
}

.classdetail-wrapper{
  margin-top: 0.1333rem;
  background: white;
  // font-size: 0.1867rem;
  .title{
    padding: 0.1333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      font-size: 0.2rem;
      font-weight: normal;
    }
    .more{
      width: 0.1067rem;
      height: 0.2133rem;
      background: url('../../../assets/common/arrow_right.png');
      background-size: cover;
    }
  }
  .detail{
    padding: 0.1333rem;
    display: flex;
    flex-wrap: wrap;
    // margin-top: 15px;
    li{
      position: relative;
      width: 50%;
      padding-left: 0.2rem;
      padding-bottom: 0.24rem;
      a{
        font-size: 0.1733rem;
        display: block;
        color: rgb(102, 102, 102);
      }
      &::before{
        content: '|';
        left: 0;
        top: 0;
        font-size: 0.16rem;
        position: absolute;
      }
    }
  }
}

</style>
