.appointment-success{
  &>.fz15orange{
    text-align: center;
    padding-top: 15px;
  }
  ul li{
    padding-top: 15px;
    display: flex;
    align-items: center;
    &>span:nth-child(1){
      margin-right: 8px;
    }
    p{
      flex: 1;
    }
  }
  .bblight{
    padding-bottom: 15px;
  }
  .commonbtn-wrapper{
    $btn_buleColor:rgb(83,105,217);
    // $border_buleColor:rgb(83,105,217);
    button:nth-child(1){
      background: white;
      border: 1px solid $btn_buleColor;
      color: $btn_buleColor;
    }
    button:nth-child(2){
      background: $btn_buleColor;
      color: white;
      border: $btn_buleColor;
    }
  }
}