<template>
  <section class="padding-wrapper appointment-success">
    <p class="fz15orange">恭喜你已成功预约</p>
    <ul class="bblight">
      <li><span class="fz14main">业务: </span><p class="fz15dark">食品经营许可证申请</p></li>
      <li><span class="fz14main">时间: </span><p class="fz15dark">2018/05/16 AM 11:00~12:00</p></li>
      <li><span>地址: </span><p class="fz15dark">广州市天河区龙口东路123号天河区司法局5楼</p></li>
    </ul>

    <router-view></router-view>

    
  </section>
</template>

<script>
import './_success.scss'
export default {
  methods: {
    
  }
}
</script>

<style>

</style>
