<template>
  <section class="not-found">
    <p>暂无搜索结果，建议输入其他关键词。</p>
    <div class="img-wrapper">
      <img src="../../../assets/search/not_found.png" alt="">
    </div>
  </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.not-found{
  padding: 0.1333rem 0.16rem;
  p{font-size: 0.16rem;color: rgb(102, 102, 102);}
  .img-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 0.8933rem;
    img{

    }
  }
}
</style>
