<template>
  <section class="category-wrapper">
    <Head :txt="{title: '全部分类'}"></Head>
    <section class="business-tab">
      <div class="tablist">
        <router-link :to="`/category/0/${commerce_id ? commerce_id : $route.params.id}`" exact replace active-class="active" class="item business">企业业务办理</router-link>
        <router-link :to="`/category/1/${personal_id ? personal_id : $route.params.id}`" exact replace active-class="active" class="item person">个人业务办理</router-link>
      </div>
    </section>
    <router-view :category="category_of_work"></router-view>
    
  </section>
</template>

<script>
import Head from '../__head/__head'
import './category.scss'
export default {
  components: {
    'Head': Head
  },
  data () {
    let personal_id = 0;
    let commerce_id = 0;
    if (this.$route.params.serverType === '1') {
      commerce_id = 56
      // personal_id = this.$route
    } else {
      personal_id = 50
    }
    console.log('data')
    return {
      category_of_work: [],
      commerce_id,
      personal_id
    }
  },
  mounted () {
  },
  computed: {

  },
  methods: {
    fetchData (serverType) {
      this.$route.path === '/personal' ? this.type = 1 : this.type = 0
      this.$http.get(this.$secondURL.itemCategory, {
        pageNumber: 1,
        pageSize: 6,
        serverType: serverType,
        parentId: 0,
        name: ''
      }).then((res) => {
        console.log(res, '-------------')
        if (res.status === '000'){
          this.category_of_work = res.data.itemList;
        }
      })
    }
  },
  beforeRouteEnter (to, from, next) {
    console.log('enter')
    next(vm => {
      console.log(vm)
      vm.fetchData(to.params.serverType)
    })
  },
  beforeRouteUpdate (to, from, next) {
    console.log(to.params.serverType, to.params.id)
    if (to.params.serverType === '1') {
      this.personal_id = to.params.id
      if (to.path.substr(-4,1) != from.path.substr(-4,1)) {
        this.commerce_id = from.params.id
      }  
    } else {
      this.commerce_id = to.params.id
      if (to.path.substr(-4,1) != from.path.substr(-4,1)) {
        this.personal_id = from.params.id
      }
    }

    console.log(this.personal_id, 'person')
    console.log(this.commerce_id)
    
    if (to.path.substr(-4,1) != from.path.substr(-4,1)) {
      this.fetchData(to.params.serverType);
    }
    next()
  }
}
</script>


