$bg_mainColor: rgb(230, 230, 230);
$font_active_color:rgb(51, 51, 51);
$font_unactive_color:rgb(102, 102, 102);
$nav_bg_color:rgb(240, 240, 240);

.category-wrapper{
  background: $bg_mainColor;
  height: 100%;
  display: flex;
  flex-direction: column;
  .business-tab{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.2rem 0 0.1333rem;
    background: white;
    .tablist{
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      // border-radius: 0.0533rem;
      .item{
        border: 0.0133rem solid rgb(51, 51, 51);
        display: block;
        padding: 0.1333rem 0.4rem;
        // padding-bottom: 0.1333rem;
        // padding-top: 0.2rem;
        background: rgb(245, 245, 245);
        color: rgb(77, 77, 77);
        font-size: 0.1733rem;
      }
      .business{
        border-radius: 0.0533rem 0 0 0.0533rem;
      }
      .person{
        border-radius: 0 0.0533rem 0.0533rem 0;
      }
      .active{
        background: rgb(51, 51, 51);
        color: white;
      }
    }
  }
  .category-main{
    margin-top: 0.1333rem;
    background: white;
    display: flex;
    flex: 1;
    .category-nav{
      width: 1.3333rem;
      .category-list{
        height: 100%;
        // background: #000;
        background: $nav_bg_color;
        li{
          a{
            display: block;
            text-align: center;
            padding: 0.2rem 0;
            border-bottom: 0.0133rem solid white;
            color: $font_unactive_color;
            
          }
        }
        .active{
          color: $font_active_color;
          font-weight: 600;
          background: white;
        }
      }
    }
    .category-list{
      flex: 1;
    }
  }
}