  $bg_mainColor: rgb(239,239,244);

  .guide-title{
    padding: 0.2rem 0.16rem 0.1067rem 0.16rem;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    position: relative;
    .title-wrapper{
      // padding:
      .gtitle{
        font-size: 0.2rem;
        text-align: center;
      }
      .watch{
        font-size: 0.16rem;
        color: rgb(153, 153, 153);
        text-align: center;
      }
    }
    .search-icon{
      position: absolute;
      right: 0.2rem;
      top: 50%;
      transform: translate(0, -50%);
      display: block;
      width: 0.4rem;
      height: 0.4rem;
      background: url('../../../assets/common/search.png');
      background-size: cover;
    }
  }
  
  .guibtn-wrapper{
    display: flex;
    // align-items: center;
    justify-content: center;
    padding: 0.6667rem 0  0.2667rem;
    button{
      $btn_mainColor:rgb(83,105,217);
      color: $btn_mainColor;
      border: 0.0133rem solid $btn_mainColor;
      padding: 0.2rem 1.0667rem;
      background: white;
      border-radius: 0.0667rem;
      font-size: 0.2133rem;
    }
  }