<template>
  <section>
    <section class="guide-title">
      <div class="title-wrapper">
        <p class="fz16blue-bold gtitle">调整业务范围</p>
        <p class="watch">主管部门: 市金融局</p>
      </div>
      <i class="search-icon"></i>
    </section>
    <section class="bordertop">
      <slide-down-up :initActive="true" slide-title="基本信息">
        <div class="graybg">
          <ol class="list">
            <li>
              <span class="left">事项类型</span>
              <span class="right">行政许可</span>
            </li>
            <li>
              <span class="left">实施机构</span>
              <span class="right">广州市金融工作局</span>
            </li>
            <li>
              <span class="left">行驶层级</span>
              <span class="right">省级,市(州)级</span>
            </li>
            <li>
              <span class="left">基本编码</span>
              <span class="right">0101003002</span>
            </li>
            <li>
              <span class="left">实施编码</span>
              <span class="right">440100000000783760048002</span>
            </li>
            <li>
              <span class="left">许可事项编码</span>
              <span class="right">78376004801010030023440100</span>
            </li>
            <li>
              <span class="left">通用事项名称</span>
              <span class="right">调整业务范围</span>
            </li>
            <li>
              <span class="left">法定办结时限</span>
              <span class="right">20个工作日</span>
            </li>
            <li>
              <span class="left">承诺办结实现</span>
              <span class="right">20个工作日</span>
            </li>
            <li>
              <span class="left">通办范围</span>
              <span class="right">不跨区</span>
            </li>
            <li>
              <span class="left">服务对象</span>
              <span class="right">法人</span>
            </li>
            <li>
              <span class="left">实施主体性质</span>
              <span class="right">法定机关</span>
            </li>
            <li>
              <span class="left">联办机构</span>
              <span class="right">无</span>
            </li>
            <li>
              <span class="left">运行系统</span>
              <span class="right">无</span>
            </li>
            <li>
              <span class="left">办件类型</span>
              <span class="right">承诺件</span>
            </li>
            <li>
              <span class="left">办理形式</span>
              <span class="right">支持网上办理</span>
            </li>
            <li>
              <span class="left">结果名称</span>
              <span class="right">《广州市金融办关于同意XXX融资担保公司变更高级管理人员的批复》</span>
            </li>
            <li>
              <span class="left">结果样本</span>
              <span class="right">无</span>
            </li>
            <li>
              <span class="left">行驶内容</span>
              <span class="right">无</span>
            </li>
            <li>
              <span class="left">预约办理</span>
              <span class="right">支持预约</span>
            </li>
            <li>
              <span class="left">物流快递</span>
              <span class="right">不支持物流快递</span>
            </li>
            <li>
              <span class="left">数据限制</span>
              <span class="right">无</span>
            </li>
          </ol>

          <div class="frame-work">
            <div class="flex up-down bottom-line-gray">办事窗口 <div class="before-class blue-location">查看地图</div></div>
            <p class="up-down fz15orange">广州市政务服务中心综合受理窗口</p>
            <ol class="list">
              <li>
                <span class="left">办理地址:</span>
                <span class="right">广州市天河区华利路61号广州市政务服务中心3楼综合受理窗口305-313</span>
              </li>
              <li>
                <span class="left">咨询电话:</span>
                <span class="right">020-83171696</span>
              </li>
              <li>
                <span class="left">监督电话:</span>
                <span class="right">12345</span>
              </li>
              <li>
                <span class="left">办理时间:</span>
                <span class="right">周一至周四上午9-12时, 下午13-17时, 周五上午9-12时, 下午13-15时</span>
              </li>
              <li>
                <span class="left">交通指引:</span>
                <span class="right">公交: 地铁: 地铁3号线、5号线B1出口</span>
              </li>
            </ol>
          </div>
        </div>
      </slide-down-up>
      <slide-down-up :initActive="false" slide-title="受理条件">
        <p class="up-down-space indent detailbg">
          符合《融资性担保公司管理暂行办法》 (2010年中国银监会等七部委令第三号)、《广东省融资性担保公司管理暂行办法>实施细则》 (2010年广东省人民政府令第149号)、《印发融资担保公司设立与变更申请材料清单的通知》(粤金[2012]51号)、《关于做好当前融资担保机构设立与变更审核工作的通知》 (粤金函[2012]289号) 等相关规定的工资担保公司。
        </p>
      </slide-down-up>
      <slide-down-up :initActive="true" slide-title="稍等">
        <p class="detailbg">
          1.《广东省融资性担保公司管理暂行办法>实施细则》(2010年广东省人民政府令第149号) 第二章第十六条融资性担保公司变更下列事项之一的,应向所在地金融局 (办) 提出申请。 市金融局 (办) 提出初审意见,报省金融办审查批准。
        </p>
        <p class="detailbg">
          2. 《关于印发融资性担保公司设立与变更申请材料清单的通知》 附件1五、 (四) 调整业务范围申请材料
        </p>
      </slide-down-up>
      <slide-down-up :initActive="true" slideTitle="网上办理流程">
        <ol class="list">
          <li>
            1.查询确认应报送财务报表纳税人名单，税务机关根据纳税人征收方式确定纳税人是否需要报送财务会计报表
          </li>
          <li>
            2.财务会计制度（准则）及核算软件备案， 纳税人须向税务机关报送《财务会计制度（准则）及核算软件备案报告书》。主要有两种途径,（1）到征收厅申报纳税人须填写纸质件（2）网上申报纳税人网上填写
          </li>
          <li>
            3.根据纳税人对应的会计准则或适用的会计制度以及行业类型产生纳税人适用的报表类型，
          </li>
          <li>
            4.税务机关打印《纳税人财务报表报送有关事项的通知》交纳税人《纳税人财务报表报送有关事项的通知》明确了纳税人报送报表类型、报送方式、报送期间、报送期限，
          </li>
          <li>
            5.纳税人按规定向税务机关报送财务会计报表纳税人根据税务机关提供的财务会计报表模版，编制财务会计报表。报送的方式包括，（1）网上办税系统上传（2）直接上门报送
          </li>
          <li>
            6.纳税人查询报送结果，
          </li>
          <li>
            7.税务机关查询纳税人报送情况，
          </li>
        </ol>
      </slide-down-up>
    </section>
    <section class="guibtn-wrapper">
      <button @click="toEdit">查看申请材料</button>
    </section>
  </section>
</template>

<script>
import './_watch.scss'

import slide_down_up from './slide/slide_down_up'

export default {
  components: {
    'slide-down-up': slide_down_up
  },
  methods: {
    toEdit () {
      this.$router.push({
        path: '/workguide/edit',
        query: this.$route.query
      })
    }
  },
  mounted () {
    console.log(this.$route.query)
  }
}
</script>

<style lang="scss">
.graybg{
  background: #F0F0F0;
}
.detailbg {
  background: #F7F7FA;
}
.bordertop{
  border-top: 1px solid #F0F0F0;
}
.list {
  background: #F7F7FA;
  padding: 0px 12px;
  li {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #CCCCCC;
    .left {
      width: 1rem;
      margin-right: 20px;
      display: block;
    }
    .right {
      flex: 1;
    }
  }
  li:last-child {
    border-bottom: none 0;
  }
  /*.up-down-space {*/
    /*padding: 12px 0;*/
  /*}*/
}
.frame-work {
  margin-top: 10px;
  background: #F7F7FA;
  .up-down {
    padding: 12px;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.bottom-line-gray {
  border-bottom: 1px solid #CCCCCC;
}
.indent {
  text-indent: 2em;
}
</style>
