<template>
  <section class="hot-search">
      <p>热门搜索</p>
      <ul class="hot-list">
        <li v-for="item in hot_search" @click="toWorkGui(item)" :key="item.id">{{item.itemName}}</li>
        <!-- <li>食品经营许可证</li>
        <li>公积金</li>
        <li>食品经营许可证</li> -->
      </ul>
    </section>
</template>

<script>
export default {
  data() {
    return {
      hot_search: [
        {
          id: 4,
          itemId: 1,
          status: 1,
          sort: 1,
          updateTime: 1528423558000,
          createTime: 1528423558000,
          itemName: "对外贸易备案",
          icon: "/gthall-html/image/business_handling/trade.png"
        }
      ]
    };
  },
  mounted() {
    let that = this
    this.$http.get("/elechall/itemSuggestion/list").then(function(res) {
      if (res.status === "000") {
        that.hot_search = res.data
        console.log(res.data)
      }
    });
  },
  methods: {
    toWorkGui (item) {
      this.$router.push({
        path: '/workguide/edit',
        query: {
          itemId: item.itemId
        }
      })
    }
  }
};
</script>

<style lang="scss">
$bg_mainColor: rgb(230, 230, 230);
$font_mainColor: rgb(77, 77, 77);

.hot-search {
  padding: 0 0.16rem;
  p {
    font-size: 0.16rem;
    color: rgb(102, 102, 102);
  }
  .hot-list {
    // margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    li {
      padding: 0.1067rem 0.16rem;
      border: 1px solid $bg_mainColor;
      color: $font_mainColor;
      font-size: 0.1867rem;
      border-radius: 0.2933rem;
      margin-right: 0.1333rem;
      margin-top: 0.1333rem;
    }
  }
}
</style>
