<template>
  <div class='home'>
    <header class='conmon-head'>
      <div class='location'>
        <span @click="toLocation" class='detail-location'>
          {{$store.state.location.city + $store.state.location.city + $store.state.location.district ? $store.state.location.province + $store.state.location.city + $store.state.location.district : '定位失败'}}
        </span>
      </div>
      <div class='menu'>
        <span @click="toSearch" class='item search'></span>
        <span @click="scanER" class='item ercode'></span>
      </div>
    </header>

    <Person />

    <section v-if="$store.getters.wait_worklist.length" class='todo-wrapper'>
      <div class='todo-container'>
        <p class='todotitle'>待办事项</p>
        <div style='overflow-x:scroll;'>
            <ul class='home-todolist'>
              <li class='todoitem' v-for="item in $store.getters.wait_worklist" :key="item.id" @click="toEditTable(item, $event)">
                <div class='leftside'>
                  <p class='leftitem '>{{item.itemName}}</p>
                  <p class='leftitem '>申请时间: {{item.updateTime}}</p>
                  <p class='leftitem '>状态: 未填写完成</p>
                  <!--<button @click="toEditTable(item, $event)" class='leftitem'>继续填写</button>-->
                </div>
              </li>
            </ul>
        </div>
      </div>
    </section>

    <section class='business-wrapper'>
      <ul class='business-tab'>
        <li class='enterprise'>
          <router-link exact-active-class='active' to='/enterprise'>企业业务办理</router-link>
        </li>
        <li class='person'>
          <router-link exact-active-class='active' to='/personal'>个人业务办理</router-link>
        </li>
      </ul>
    </section>

    <router-view></router-view>

    <footer class='footer'>
      <p>亲，已经到底了</p>
    </footer>
  </div>
</template>

<script>
import '../home/home.scss';

import Person from './_person/_person.vue';

export default {
  components: {
    Person: Person
  },
  methods: {

  },
  name: 'home',
  data() {
    return {

    };
  },
  methods: {
    scanER () {
      console.log(this.$store.state.wxReady)
      if (this.$store.state.wxReady) {
        wx.scanQRCode({
            needResult : 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType : [ "qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success : function(res) {
              var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
              console.log(result, 'successs')
              // window.location.href = result;//因为我这边是扫描后有个链接，然后跳转到该页面
            }
        });
      }
    },
    toSearch() {
      this.$router.push({
        path: '/search/hot',
        query: {
          serverType: this.$route.path === '/personal' ? this.type = 1 : this.type = 0
        }
      })
    },
    toLocation () {
      this.$router.push({
        path: '/location'
      })
    },
    toEditTable (item, e) {
      this.$router.push({
        path: '/workguide/edit',
        query: {
          name: item.itemName,
          itemId: item.itemId,
        }
      })
    }
  },
  mounted() {

  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped>
</style>
