/* eslint-disable */


$mainColor: rgb(241,246,249);
$font_mainColor: rgb(66, 65, 65);
$bg_mainColor:rgb(241,246,249);

.home{
  background: $bg_mainColor;
}

.conmon-head{
  display: flex;
  justify-content: space-between;
  padding: 0 0.16rem;
  border-bottom: 1px solid $mainColor;
  background: white;
  .location{
    .detail-location{
      display: block;
      padding: 0.2rem 0;
      font-size: 0.1867rem;
      position: relative;
    }
    .detail-location::after{
      content: '';
      display: block;
      width:0;
      height:0;
      border-width: 0.0933rem;
      border-style: solid;
      border-color: $font_mainColor transparent transparent;/*透明 透明  灰*/
      position: absolute;
      right: -0.2667rem;
      top: 0.28rem;
    }
  }
}

.menu{
  display: flex;
  justify-content: space-between;
  width: 1rem;
  align-items: center;
  .item{
    width: 0.4267rem;
    height: 0.4267rem;
    overflow: hidden;
    // display: block;
  }
  .search{
    // margin-right: 0.1333rem;
    background: url('../../assets/common/search.png') no-repeat;
    background-size: cover;
  }
  .ercode{
    // margin-left: 10px;
    background: url('../../assets/home/scanning.png') no-repeat;
    background-size: cover;
  }
}

.common-personMsg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.16rem 0.16rem 0.3733rem;
  background: url('../../assets/home/person_msgbg.png') 0 bottom no-repeat white;
  background-size: contain;
  .personMsgLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1.2667rem;
    .head-wrapper{
      width: 0.5333rem;
      height: 0.5333rem;
    }
    .detail-wrapper{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 0.2rem;
      .name{
        color: $font_mainColor;
      }
      .todo{
        color: rgb(237, 130, 43);
      }
    }
  }
  .personMsgRight{
    font-size: 0.2rem;
    color: $font_mainColor;
    height: 100%;
    padding-right: 0.2933rem;
    position: relative;
    .arrow-right{
      position: absolute;
      top: 0.04rem;
      right: 0;
      display: block;
      width: 0.12rem;
      height: 0.2rem;
      background: url('../../assets/common/arrow_right.png');
      background-size: cover;
    }
    &:after{
      content: '';
      width: 0.12rem;
      height: 0.12rem;
      background: rgb(198, 25, 25);
      position: absolute;
      right: 0.16rem;
      top: 0px;
      border-radius: 50%;
    }
  }
}

.todo-wrapper{
  margin-top: 0.1333rem;
  background: white;
  .todo-container{

    padding-top: 0.2rem;
    box-shadow: 0px 1px 0.0533rem #888;
    .todotitle{
      font-size: 0.2rem;
      padding-left: 0.16rem;
      color: rgb(77, 77, 77)
    }
    .home-todolist{
      $width : 3.9333rem;
      margin: 0 auto;
      margin-top: 0.2rem;
      padding-bottom: 0.16rem;
      padding-left: 0.2rem;
      font-family: 'PingFangSC-Medium';
      width: $width*2 + 0.2667rem;
      display: flex;
      justify-content: flex-start;
      .todoitem{
        width: 3.9333rem;
        padding: 0.2rem 0px 0.16rem 0.16rem;
        background: rgb(255, 136, 84);
        border-radius: 0.0667rem;
        margin-right: 0.1333rem;
        // display: inline-block;
        .leftside{
          .leftitem{
            font-size: 0.1867rem;
            color: white;
            margin-top: 0.1333rem;
          }
          button{
            margin-top: 0.1733rem;
            background: rgba(255,136,84,0);
            border: 1px solid white;
            border-radius: 0.0667rem;
          }
        }
      }
    }
  }
}

.business-wrapper{
  background: white;
  margin-top: 0.1333rem;
  .business-tab{
    display: flex;
    &>li{
      flex: 1;
      a{
        text-align: center;
        display: block;
        padding: 0.2rem 0;
        font-size: 0.1867rem;
      }
    }

    .enterprise, .person{
      a{
        background: rgb(230, 230, 230);
        border-bottom: 0.0267rem solid $mainColor;
      }
      .active{
        background: white;
      }
    }

    // .person{
    //   a{
        // background: url('../../assets/home/person_uncheck.png') no-repeat;
        // background-size: contain;
    //   }
    //   .active{
        // background: url('../../assets/home/person_check.png') no-repeat;
        // background-size: contain;
    //   }
    // }
  }
}



.footer{
  p{text-justify: distribute; text-align: center; padding: 0.2rem 0;font-size: 0.1333rem;color: rgb(153, 153, 153);}
}
