<template>
  <ul class="center-todolist">
    <li v-for="item in worklist" :key="item.id" :class="item.operStatus ? 'success' : ''">
      <div class="item-wrapper">
        <p class="title">{{item.itemName}}</p>
        <p class="state">{{item.operStatus ? '已填写完成' : '未填写完成'}}</p>
        <p class="time">申请时间: {{$getFormatDate(item.updateTime)}}</p>
        <div class="btnwrapper">
          <button @click="toEditTable(item, $event)" class="btn goon">{{item.operStatus ? '查看事项' : '继续填写'}}</button>
        </div>
        <div class="btnwrapper">
          <span class="btn boot fz16darknb">预约申请</span>
        </div>
        <div class="btnwrapper">
          <span @click="$emit('showframe', item)" class="look">查看二维码</span>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
export default {
  props: ['worklist'],
  methods: {
    toEditTable(item, $event) {
      console.log(item, 'tableitem')
      this.$http.get(this.$secondURL.save, {
        formNo: item.formNo,
        itemId: item.itemId,
        userId: this.$store.state.userInfo.id
      }).then((res) => {
        if (res.status === '000') {
          console.log(res, '我是保存记录拿到的数据')
          this.$router.push({
            path: '/workguide/edit',
            query: {
              name: item.itemName,
              itemId: item.itemId,
              processId: res.data.id
            }
          })
        }
      })
    }
  },
  mounted () {
  }
}
</script>

<style>

</style>
