<template>
  <section>

    <section class="edit-contact">
      <ul class="padding-wrapper">
        <li>
          <label class="fz1577" for="phone">紧急联系人</label>
          <input v-model="emergency" class="fz15dark" id="phone" placeholder="请输入紧急联系人号码" type="text">
          <span class="close"></span>
        </li>
      </ul>
    </section>
    <Button v-on:saveData="saveContact"></Button>
  </section>
</template>

<script>
import Button from '../../__button/__button'
export default {
  data () {
    return {
      emergencyContact: ''
    }
  },
  methods: {
    saveContact () {
      this.$store.commit('updataEditableUserInfo', {
        type: 'emergency',
        value: this.emergencyContact
      })
    }
  },
  components: {
    Button: Button
  },
  computed: {
    emergency: {
      get () {
        return this.$store.state.editableUserInfo.emergency
      },
      set (value) {
        this.emergencyContact = value
      }
    }
  }
}
</script>

<style lang="scss">
.edit-contact{
  margin-top: 0.1333rem;
  .padding-wrapper{
    li{
      padding: 0.2rem 0;
      display: flex;
      align-items: center;
      label{
        // display: inline-block;
        // background: #000;
        width: 1rem;
        // margin-right: 0.4rem;
      }
      input:focus{background: white;}
      input{padding-left: 0.2rem; flex:1;}
    }
  }
}
</style>
