<template>
  <section class="category-multi">
    <p>食品行销经营者(多选)</p>
    <ul class="multi-list">
      <li>超级市场</li>
    </ul>
  </section>
</template>

<script>
  export default {

  }
</script>

<style lang="scss">

</style>
