<template>
  <div class="global-loading">
      <span></span>
      <span></span>
      <span></span>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

@keyframes bounce {
  from {
    transform: scale(1);
    // margin-left: 20px;
  }
  to {
    transform: scale(.5);
    // margin-left: 10px;
  }
}
.global-loading{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(58, 58, 58, .5);
  z-index: 5;
  // .center-wrapper{
  //   position: absolute;
  //   width: 100px;
  //   height: 100px;
  //   // top: 50%;
  //   // left: 50%;
  //   // transform:translate(-50%,-50%);
  //   background: white;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
    span{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-left: 20px;
      background: white;
      animation-name: bounce;
      animation-duration: .3s;
      animation-direction: alternate-reverse;
      animation-iteration-count: infinite;
    }
    span:nth-child(2){
      animation-delay: .1s;
    }
    span:nth-child(3){
      animation-delay: .1s;
    }
  // }
}

</style>

