<template>
  <section>
    <div class="hot-serve">
      <h1>热门服务</h1>
      <ul class="business-list">
        <li v-if="hotItem.length" v-for="item in hotItem" :key="item.id" class="business-item">
          <router-link class="_business-item" :to="{path: 'workguide/watch', query: { itemId: item.id}}">
            <img src="../../../assets/home/traffic_business.png" alt="">
            <span>{{item.itemName}}</span>
          </router-link>
        </li>
        <li v-else class="business-item">
          <router-link class="_business-item">
            <img src="../../../assets/home/sanction.png" alt="">
            <span>暂时没有</span>
          </router-link>
        </li>
        <!-- <li class="business-item">
          <router-link class="_business-item" to="/asdfa">
            <img src="../../../assets/home/home_business.png" alt="">
            <span>政户业务</span>
          </router-link>
        </li>
        <li class="business-item">
          <router-link class="_business-item" to="/asdfa">
            <img src="../../../assets/home/record_business.png" alt="">
            <span>乘车备案</span>
          </router-link>
        </li>
        <li class="business-item">
          <router-link class="_business-item" to="/asdfa">
            <img src="../../../assets/home/tax_business.png" alt="">
            <span>行政征收</span>
          </router-link>
        </li>
        <li class="business-item">
          <router-link class="_business-item" to="/asdfa">
            <img src="../../../assets/home/idcard_business.png" alt="">
            <span>户口身份</span>
          </router-link>
        </li>
        <li class="business-item">
          <router-link class="_business-item" to="/asdfa">
            <img src="../../../assets/home/security_business.png" alt="">
            <span>治安业务</span>
          </router-link>
        </li>
        <li class="business-item">
          <router-link class="_business-item" to="/asdfa">
            <img src="../../../assets/home/company_business.png" alt="">
            <span>公司注册</span>
          </router-link>
        </li> -->
      </ul>
    </div>

    <section class='classification'>
      <div class='head'>
        <h1>事项分类</h1>
        <router-link class='more' :to="`/category/${$route.path.includes('enterprise') ? '0' : '1'}/${$route.path.includes('enterprise') ? '56' : '50'}`">查看全部</router-link>
      </div>
      <div  style='overflow:scroll;'>
        <ul class='classlist clearfix'>
          <!-- <li>
            <span class="classitem left0" @click="($event) => toCategory($event,{id: 26, serverType: 0, name: '商家火焰', isall: false})">
              ggggg
            </span>
          </li> -->
          <li v-for='(item,idx) in category_of_work' :key='item.id'>
            <span :class="['classitem', 'left' + idx]" @click="($event) => toCategory($event,{id: item.id, serverType: item.serverType, isall: false})">
              {{item.name}}
            </span>
          </li>
        </ul>
      </div>
    </section>

    <Classdetail v-for='(item) in category_of_work' :key='item.id' :txt="item" />
  </section>

</template>

<script>
import Classdetail from '../_classdetail/_classdetail.vue';
export default {
  components: {
    'Classdetail': Classdetail
  },
  mounted () {
    console.log(this.$route.path)
    this.fetchData()
  },
  methods: {
    fetchData () {
      // console.log('fetchdata')
      this.$route.path === '/personal' ? this.type = 1 : this.type = 0
      this.$http.get(this.$secondURL.itemCategory, {
        pageNumber: 1,
        pageSize: 6,
        serverType: this.type,
        parentId: 0,
        name: ''
      }).then((data) => {
        if (data.status === '000'){
          this.category_of_work = data.data.itemList;
          // console.log(this.category_of_work)
        }
      })
      // 获取热门事项
      this.$http.get(this.$secondURL.getHotItem, {
        serverType: this.type
      }).then(res => {
        if (res.status === '000'){
          this.hotItem = res.data
        }
      })
    },
    toCategory (event,data) {
      this.$router.push({
        path: `/category/${data.serverType}/${data.id}`
      })
    }
  },
  watch: {
    '$route': 'fetchData'
  },
  data () {
    return {
      type: 1,
      category_of_work: [],
      hotItem: []
    }
  }
};
</script>

<style lang="scss">
.hot-serve {
  padding: 0.1333rem;
  background: white;
  h1 {
    font-size: 0.2rem;
    font-weight: normal;
    vertical-align: baseline;
    &::before {
      content: "";
      position: relative;
      top: -0.0667rem;
      margin-right: 0.0667rem;
      display: inline-block;
      vertical-align: middle;
      width: 0.4rem;
      height: 0.4rem;
      background: url("../../../assets/home/_hot_serve.png");
      background-size: cover;
    }
  }
  .business-list {
    display: flex;
    flex-wrap: wrap;
    .business-item {
      width: 25%;
      margin-top: 0.1333rem;
      ._business-item {
        display: block;
        text-align: center;
        img {
          width: 0.4533rem;
          height: 0.4533rem;
          margin: 0 auto;
        }
        span {
          display: inline-block;
        }
      }
    }
  }
}

.classification{
    margin-top: 0.1333rem;
    background: white;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    .head{
      display: flex;
      padding: 0.1333rem;
      justify-content: space-between;
      align-items: center;
      h1{
        font-size: 0.2rem;
        font-weight: normal;
        vertical-align: baseline;
        &::before{
          content: '';
          position: relative;
          top: -0.0667rem;
          margin-right: 0.0667rem;
          display: inline-block;
          vertical-align: middle;
          width: 0.4rem;
          height: 0.4rem;
          background: url('../../../assets/home/_classification.png');
          background-size: cover;
        }
      }
      .more{
        vertical-align: middle;
        &::after{
          content: '';
          position: relative;
          top: -0.0267rem;
          margin-left: 0.0667rem;
          display: inline-block;
          width: 0.12rem;
          height: 0.2rem;
          background: url('../../../assets/common/arrow_right.png');
          background-size: cover;
          vertical-align: middle;
        }
      }
    }
    .classlist{
      $item_width:1.8933rem;
      // overflow-x: hidden;
      width: $item_width*3+0.6667rem;
      padding-bottom: 0.2667rem;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto !important;
      li{
        // display: flex;
        // justify-content: space-between;
        // flex-direction: column;
        display: inline-block;
        width: $item_width;
        margin-left: 0.1333rem;
        .classitem {
          display: block;
          font-size: 0.1867rem;
          color: white;
          width: 1.8933rem;
          height: 0.72rem;
          line-height: 0.72rem;
          text-align: center;
          margin-top: 0.1333rem;
        }
        &:nth-child(1) .left0{
          background: url('../../../assets/home/bg_class1.png');
        }
        &:nth-child(2) .left1{
          background: url('../../../assets/home/bg_class2.png');
        }
        &:nth-child(3) .left2{
          background: url('../../../assets/home/bg_class3.png');
        }
        &:nth-child(4) .left3{
          background: url('../../../assets/home/bg_class4.png');
        }
        &:nth-child(5) .left4{
          background: url('../../../assets/home/bg_class5.png');
        }
        &:nth-child(6) .left5{
          background: url('../../../assets/home/bg_class6.png');
        }

      }
    }
  }
</style>
