/*重置样式表*/

/*==========样式重置===========*/

/* eslint-disable */

body,
h1,
h2,
h3,
h4,
p,
a,
input,
img,
ul,
li,
ol,
dl,
dt,
dd {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  border: 0;
}

input {
  /*去掉高亮*/
  border: none;
  transition: all .5s;
  outline: none;
}

input:focus {
  background: rgb(243, 243, 243);
}

header,
footer,
section,
main,
nav {
  display: block;
}

body {
  /* max-width: 5rem; */
  font-size: 0.1867rem;
  font-family: 'pingFangSC-Regular', '微软雅黑';
  /* color:#3e3e3e; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(77, 77, 77);
}

a {
  text-decoration: none;
  color: rgb(77, 77, 77);
  /* font-size: 14px; */
}

a:hover {
  text-decoration: none;
}

a:focus{
  outline: none;
}
a:visited {
  text-decoration: none;
  border: none;
}

i {
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

button {
  border: none;
  font-size: 0.1867rem;
  /* background: white; */
}

/* 
.flexjcsb{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */