/* 此项目通用类 */
$font_mainColor: rgb(102, 102, 102);
$font_pingColor: rgb(250, 102, 102);
$font_greenColor: rgb(26, 173, 25);
$font_lightColor: rgb(153, 153, 153);
$font_darkColor: rgb(51, 51, 51);
$font_orangeColor: rgb(233,126,31);
$font_77Color: rgb(77,77,77);
$font_blueColor: #5369D9;

input:focus{background: white;}


// 上下居中

.fz16blue-bold{
  font-size: 0.2133rem;
  color: $font_blueColor;
  font-weight: bold;
}
.fz16dark{
  font-size: 0.2133rem;
  color: $font_darkColor;
  font-weight: bold;
}
.fz16darknb{
  font-size: 0.2133rem;
  color: $font_darkColor;
}

.margintop{
  margin-top: 2px;
}
.padding-wrapper{
  padding: 0 0.16rem;
  background: white;
  margin-top: 0.0667rem;
  position: relative;
}

.flexait{
  align-items: flex-start;
}

.fz14main{
  color: $font_mainColor;
}
.fz12main{
  font-size: 0.16rem;
  color: $font_mainColor;
}
.fz12light{
  font-size: 0.16rem;
  color: $font_lightColor;
}
.fz15light{
  font-size: 0.2rem;
  color: $font_lightColor;
}
.fz12green{
  font-size: 0.16rem;
  color: $font_greenColor;
}
.fz14ping{
  color: $font_pingColor;
}
.fz16ping{
  color: $font_pingColor;
  font-size: 0.2133rem;
}
.fz15dark{
  color: $font_darkColor;
  font-size: 0.2rem;
}


.fz1577{
  color: $font_darkColor;
  font-size: 0.2rem;
}



.fz15orange{
  font-size: 0.2rem;
  color: $font_orangeColor;
}

.bblight{
  border-bottom: 0.0133rem solid $font_lightColor;
}

.commonbtn-wrapper{
  padding-top: 0.6667rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button{
    border-radius: 0.0667rem;
    width: 170.0025px;
    height: 0.5333rem;
    line-height: 0.5333rem;
    text-align: center;
  }
}

.close{
  position: absolute;
  width: 0.2133rem;
  height: 0.2133rem;
  right: 0.2667rem;
  top: 50%;
  transform: translate(0, -50%);
  background: rgb(200, 200, 200);
  background-image: url('../assets/common/close.png');
  border-radius: 50%;
  background-size: contain;
  z-index: 10;
}

// 这里表达验证调试的class

.validate-tips-wran{
  color: $font_pingColor;
}

// 动画

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}



