<template>
  <section class="edit-position-wrapper">
    <section class='padding-wrapper edit-position'>
      <label class='fz1577' for='phone'>收货地址: </label>
      <input @input='onInput' :value="$store.state.editableUserInfo.collectAddress" class='fz16darknb' id='phone' type='text'>
      <wv-picker
        :visible.sync='addressPickerShow'
        v-model='address'
        ref='addressPicker'
        :columns='addressColumns'
        :visible-item-count='5'
        @change='onAddressChange'
        @confirm='confirmAddress'
      />
    </section>
    <section class="history-position-wrapper padding-wrapper">
      <p>历史信息</p>
      <ul v-if="addressList.length">
        <li v-for="item in addressList">
          <input @change="onChangePosition" name="bsn" id="idx3" type="radio">
          <label for="idx3">天河区xx街道xx号</label>
          <!-- <span class="choose"></span> -->
        </li>
      </ul>
      <ul v-else>
        <li>
          暂无地址,请添加地址。
        </li>
      </ul>
    </section>
    <Button></Button>
  </section>
</template>
<script>
import Button from '../../__button/__button'
import chinaAreaData from 'china-area-data';
const provinces = Object.values(chinaAreaData[86]);
// 获取某一省下的市
const getCities = province => {
  let provinceCode;
  for (let i in chinaAreaData[86]) {
    if (province === chinaAreaData[86][i]) {
      provinceCode = i;
      break;
    }
  }
  return typeof chinaAreaData[provinceCode] === 'object'
    ? Object.values(chinaAreaData[provinceCode])
    : []
};
// 获取某一市下的区/县
function getAreas (province, city) {
  let provinceCode, cityCode;
  for (let i in chinaAreaData[86]) {
    if (province === chinaAreaData[86][i]) {
      provinceCode = i
      break
    }
  }
  for (let i in chinaAreaData[provinceCode]) {
    if (city === chinaAreaData[provinceCode][i]) {
      cityCode = i;
      break
    }
  }
  if (chinaAreaData[cityCode]) {
    return typeof chinaAreaData[cityCode] === 'object'
      ? Object.values(chinaAreaData[cityCode])
      : []
  } else {
    // 只有两级的情况
    return []
  }
}

export default {
  name: 'edit_position',
  components: {
    Button: Button
  },
  data() {
    return {
      addressList: [],
      addressPickerShow: false,
      address: ['请选择'],
      addressColumns: [
        {
          values: provinces
        },
        {
          values: getCities('广东省')
        },
        {
          values: getAreas('广东省', '广州市')
        }
      ],
      position: ''
    };
  },
  mounted() {
    console.log('aa')
    this.$nextTick(() => {
      this.$refs.addressPicker.setValues(['广东省', '广州市', '天河区']);
    });

    this.$http.get(this.$secondURL.userAddress, {
      userId: this.$store.state.userInfo.id
    }).then(res => {
      if (res.status === '000') {
        this.addressList = res.data.itemList
      }
    })
  },
  methods: {
    onChange(picker, value) {
      console.log(value);
    },
    onAddressChange(picker, addressValues, slotIndex) {
      if (slotIndex === 0) {
        const cities = getCities(addressValues[0]);
        picker.setColumnValues(1, cities);
        picker.setColumnValues(2, getAreas(addressValues[0], cities[0]));
      } else if (slotIndex === 1) {
        picker.setColumnValues(2, getAreas(addressValues[0], addressValues[1]));
      }
    },
    confirmAddress(picker) {
      this.address = picker.getValues();
    },
    onChangePosition (e) {
      this.$store.commit('updataEditableUserInfo', {
        type: 'collectAddress',
        value: e.target.nextElementSibling.innerHTML
      })
    },
    onInput (e) {
      this.position = e.target.value
    },
    savePosition () {
      this.$store.commit('updataEditableUserInfo', {
        type: 'collectAddress',
        value: this.position
      })
    }
  },
  computed: {
    comaddress() {
      if (Array.isArray(this.address)) {
        return this.address.toString().replace(/,/g, '');
      } else {
        return '请选择';
      }
    },
    collect_address: {
      get () {
        return this.$store.state.editableUserInfo.collectAddress
      },
      set (value) {
        this.$store.commit('updataEditableUserInfo', {
          type: 'collectAddress',
          value: value
        })
      }
    },
  }
  // filters: {
  //   pickerValueFilter(val) {
  //     if (Array.isArray(val)) {
  //       return val.toString().replace(/,/g, '/');
  //     } else {
  //       return '请选择';
  //     }
  //   }
  // }
};
</script>

<style lang="scss">

.edit-position {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.16rem;
  label {
    width: 1rem;
  }
  input {
    flex: 1;
  }
}
.history-position-wrapper{
  p{
    padding: 0.0667rem 0px;
  }
  ul{
    border-top: 1px solid rgb(221, 221, 221);
    padding-bottom: 0.1333rem;
    li{
      border-bottom: 1px solid rgb(221, 221, 221);
    }
  }
}
.edit-position-wrapper{

  .padding-wrapper {


    li {
      padding: 0.2rem 0 !important;
      position: relative;

      input {
        position: absolute;
        opacity: 0;
      }
      // .choose {
      //   width: 18px;
      //   height: 18px;
      // }
      label{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      input[type="radio"] + label:after{
        content: '';
        display: inline-block;
        height: 0.2533rem;
        width: 0.2533rem;
      }
      input[type="radio"]:checked + label:after{
        background: url('../../../assets/form/checked.png');
        background-size: cover;
      }
    }
  }
}
</style>
