<template>
  <transition name="fade" :duration="1000" v-on:after-enter="$store.commit('changeTipsStatus')">
    <div class="tips-wrapper">
      {{$store.state.tips}}
    </div>
  </transition>
</template>

<script>
export default {
  methods: {
    
  }
}
</script>

<style lang="scss" scoped>
  .tips-wrapper{
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    padding: 0.2rem 0;
    width: 50%;
    background: rgba(223, 223, 223,.7);
    color: rgb(77, 77, 77);
  }
</style>
