<template>
  <section class="search">
    <Header :txt="{title: '搜索'}" />

    <section class="search-wrapper">
      <div class="search">
        <label for="main-search"></label>
        <input id="main-search" v-model="searchText" :placeholder="placeholder" type="text">
      </div>
      <span @click="search">搜索</span>
    </section>
    <router-view :resultList="resultList"></router-view>

  </section>
</template>

<script>
import Header from '../__head/__head'
import Crumbs from '../__crumbs/__crumbs'
export default {
  data () {
    return {
      searchText: '',
      placeholder: '道路运输许可证',
      resultList : []
    }
  },
  mounted () {
    // console.log(6666666)
  },
  methods: {
    search () {
      let serchTxt = this.searchText ? this.searchText : this.placeholder;
      // console
      this.$http.get(this.$secondURL.item, {
        pageNumber: '',
        pageSize: '',
        itemCategoryId: '',
        serverType: '',
        name: serchTxt
      }).then(res => {
        this.resultList = res.data.itemList
        this.$router.push({
            path: '/search/result'
          })
      })
    }
  },
  components: {
    'Header': Header
  }
}
</script>

<style lang="scss">
$bg_mainColor: rgb(230, 230, 230);
$font_mainColor: rgb(77, 77, 77);
.search-wrapper{
  padding: 0.1333rem 0.16rem 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &>span{font-size: 0.2rem;color: $font_mainColor}
  .search{
    height: 0.5867rem;
    width: 4.1333rem;
    display: flex;
    // justify-content: center;
    background: $bg_mainColor;
    align-items: center;
    padding: 0.2rem 0.1333rem;
    border-radius: 0.2933rem;
    input{
      background: inherit;
      color: rgb(153, 153, 153);
      font-size: 0.2rem;
    }
    label{
      width: 0.1933rem;
      height: 0.1933rem;
      background: url('../../assets/search/search.png');
      background-size: cover;
      margin-right: 0.16rem;
    }
  }
  span {
    display: block;
    height: 100%;
    /*display: flex;*/
  }
}

.hot-search{
  padding: 0 0.16rem;
  p{font-size: 0.16rem;color: rgb(102, 102, 102);}
  .hot-list{
    // margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    li{
      padding: 0.1067rem 0.16rem;
      border: 1px solid $bg_mainColor;
      color: $font_mainColor;
      font-size: 0.1867rem;
      border-radius: 0.2933rem;
      margin-right: 0.1333rem;
      margin-top: 0.1333rem;
    }
  }
}
</style>
