<template>
  <section>
    <section class="edit-info">
      <ul class="padding-wrapper">
        <li>
          <label class="fz1577" for="phone">邮件</label>
          <input v-model="email" class="fz15dark" id="phone" placeholder="请输入电子邮件" type="text">
          <span v-if="email" class="close"></span>
        </li>
      </ul>
    </section>
    <Button v-on:saveData="saveEmail"></Button>
  </section>
</template>

<script>
import Button from '../../__button/__button'
export default {
  data () {
    return {
      email: ''
    }
  },
  components: {
    Button: Button
  },
  methods: {
    saveEmail () {
      this.$store.commit('updataEditableUserInfo', {
        type: 'email',
        value: this.email
      })
    }
  },
  computed: {
    email: {
      get () {
        return this.$store.state.editableUserInfo.email
      },
      set (value) {
        this.email = value
      }
    }
  }
}
</script>

<style lang="scss">
.edit-info{
  margin-top: 0.1333rem;
  .padding-wrapper{
    li{
      padding: 0.2rem 0;
      display: flex;
      align-items: center;
      .close{
        width: 0.24rem;
        height: 0.24rem;
      }
      label{
        // display: inline-block;
        // background: #000;
        width: 1rem;
        // margin-right: 0.4rem;
      }
      input:focus{background: white;}
      input{flex:1;}
    }
  }
}
</style>
