<template>
  <div class="category-detail">
    <ul class="detail-list">
      <li v-for="item in itemList" :key="item.id" @click="goToGui(item.id)"><img src="../../../assets/category/common.png" alt="">{{item.itemName}}</li>
      <!-- <li><img src="../../../assets/category/common.png" alt="">货物进出口许可证</li>
      <li><img src="../../../assets/category/common.png" alt="">货物进出口许可证</li>
      <li><img src="../../../assets/category/common.png" alt="">货物进出口许可证</li> -->
      <!-- <li>asdf</li> -->
      <!-- <li>asdf</li> -->
      <!-- <li>asdf</li> -->
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      itemList: []
    };
  },
  mounted() {
    console.log(this.$route.params);
    this.fetchData();
  },
  methods: {
    fetchData() {
      let that = this;
      this.$http
        .get("/elechall/item/list", {
          pageNumber: 0,
          pageSize: 2,
          itemCategoryId: this.$route.params.id,
          serverType: this.$route.params.serverType,
          name: ""
        })
        .then(function(res) {
          if (res.status === "000") {
            that.itemList = res.data.itemList;
            // console.log(that.itemList)
          }
        })
    },
    goToGui (id) {
      this.$router.push({
        path: '/workguide/watch',
        query: {
          itemId: id
        }
      })
      console.log(id)
    }
  },
  watch: {
    $route: "fetchData"
  }
};
</script>

<style lang="scss">
$font_active_color: rgb(5, 5, 5);
.category-detail {
  .detail-list {
    padding: 0.1333rem 0 0 0.24rem;
    li {
      display: flex;
      align-items: center;
      padding: 0.2rem 0;
      font-size: 0.2rem;
      color: $font_active_color;
      img {
        width: 0.4533rem;
        height: 0.4533rem;
        margin-right: 0.2rem;
      }
    }
  }
}
</style>
