<template>
  <section>
    <section class="categoryradio">
      <p class="operator-title">食品销售经营者(单选)</p>
      <ul class="radio-list">
        <li>
          <input type="radio" checked name="operator" id="radio1">
          <span class="fictitious-radio"></span>
          <label for="radio1">超级市场</label>
        </li>
        <li>
          <input type="radio" name="operator" id="radio2">
          <span class="fictitious-radio"></span>
          <label for="radio2">超级市场</label>
        </li>
        <li>
          <input type="radio" name="operator" id="radio3">
          <span class="fictitious-radio"></span>
          <label for="radio3">超级市场</label>
        </li>
        <li>
          <input type="radio" name="operator" id="radio4">
          <span class="fictitious-radio"></span>
          <label for="radio4">超级市场</label>
        </li>
        <li>
          <input type="radio" name="operator" id="radio5">
          <span class="fictitious-radio"></span>
          <label for="radio5">超级市场</label>
        </li>
      </ul>
    </section>
    <section class="categoryradio">
      <p class="operator-title">食品销售经营者(多选)</p>
      <ul class="multi-list">
        <li><input id="checkbox1" type="checkbox"><label for="checkbox1">超级市场</label></li>
        <li><input id="checkbox2" type="checkbox"><label for="checkbox2">食品销售连锁加盟(总部)</label></li>
        <li><input id="checkbox3" type="checkbox"><label for="checkbox3">食品销售连锁加盟(分部)</label></li>
        <!--<li>视频小时饮食联盟(总部)</li>-->
        <!--<li>视频小时饮食联盟(分部)</li>-->
      </ul>
    </section>
  </section>
</template>

<script>
import './_categoryradio.scss'
export default {
  data () {
    return {

    }
  }
}
</script>

<style>

</style>
