$font_mainColor: rgb(102,102,102);
$ping_mainColor: rgb(255,94,94);
.operator-title{
  color: $font_mainColor;
}
.categoryradio{
  margin-top: 0.0667rem;
  background: white;
  padding: 0.2rem 0.16rem;
  .radio-list{
    margin-top: 0.2667rem;
    li{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0.0667rem;
      position: relative;
      input[type="radio"]{
        opacity: 0;
        //margin-right: 0.1333rem;
      }
      .fictitious-radio{
        position: absolute;
        top: 0;
        margin-left: 0.32rem;
      }
      .fictitious-radio:before{
          content: '';
          height: 0.2rem;
          width: 0.2rem;
          display: block;
          border: 0.0267rem solid #aaa;
          border-radius: 50%;
          position: absolute;
          margin-left: -0.32rem;
      }
      .fictitious-radio:after{
        content: '';
        height: 0.1333rem;
        width: 0.1333rem;
        display: block;
        border-radius: 50%;
        position: absolute;
        background: #aaa;
        margin-top: 0.06rem;
        margin-left: -0.26rem;
      }
      input[type="radio"]:checked+.fictitious-radio:before{
        border-color: $ping_mainColor;
      }
      input[type="radio"]:checked+.fictitious-radio:after{
        background: $ping_mainColor;
      }
      label {
        display: inline-block;
        cursor: pointer;
        padding: 0 0.1067rem 0 0.1733rem;
        flex: 1;
        font-size: 0.2rem;
        color: rgb(51, 51, 51);
        letter-spacing: 0.0133rem;
      }
    }
  }

  .multi-list{
    //margin-top: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    //margin-right: 0.16rem;
    li{
      margin-right: 0.16rem;
      //overflow: hidden;
      margin-top: 0.2rem;
      position: relative;
      input[type="checkbox"]{
        opacity: 0;
        //width: 0.6667rem;
        //height: 0.4rem;
        position: absolute;
        //top: 0;
        //left: 0;
        //z-index: 2;
      }
      input[type="checkbox"]:checked+label{
        background: white;
        color: white;
        background: rgb(247,99,99);
        border: 0.0133rem solid rgb(247,99,99);
      }
      label{
        color: rgb(51,51,51);
        border-radius: 0.1667rem;
        font-size: 0.2rem;
        display: block;
        padding: 0.04rem 0.3333rem;
        border: 0.0133rem solid rgb(153,153,153);
        background: white;
      }
    }
  }
}

//.categorymulti{
//  margin-top: 0.0667rem;
//
//}
