<template>
  <section class="crumbs">
      <ul class="url-list">
        <li v-for="(item,idx) in url_list" :key="idx">{{item}}</li>
      </ul>
    </section>
</template>

<script>
export default {
  data () {
    return {
      url_list: [
        '企业业务',
        '行政许可'
      ]
    }
  }
}
</script>

<style lang="scss">
$bg_mainColor: rgb(239,239,244);

 .crumbs{
    .url-list{
      padding: 0.1333rem 0.16rem;
      display: flex;
      background: $bg_mainColor;
      li {
        color: rgb(77, 77, 77);
        &::after{
          content: '>';
          display: inline-block;
          vertical-align: middle;
          margin: 0 0.04rem;
        }
      }
      li:last-child::after{
        content: '';
      }
      
    }
  }
</style>
