<template>
  <section class="login-wrapper">
    <section class="common-header">
      <h1><i @click="back" class="back"></i>登录</h1>
    </section>

    <section class="login-info padding-wrapper">
      <div class="input-wrapper">
        <input v-model="mobile" pattern="[0-9]+" class="fz15dark" type="text" name="login-phone" placeholder="请输入手机号">
        <div @click="$store.commit('updateMobile', '')" v-if="$store.getters.showLoginClear" class="close"></div>
      </div>
      <div class="checkcode input-wrapper">
        <input v-model="validateCode" class="fz15dark" type="text" name="login-code" placeholder="请输入验证码" >
        <span @click="sendSMS" class="position-abs">{{validateTips}}</span>
      </div>
      <div class="input-wrapper">
        <input v-model="idCard" class="fz15dark" type="text" name="login-id-num" placeholder="请输入身份证号码" >
        <div @click="$store.commit('updateidCard', '')" v-if="$store.getters.showidCardClear" class="close"></div>
      </div>
    </section>

    <section class="btn-wrapper">
      <button @click="login">登录</button>
    </section>
    <!--<section class="btn-wrapper">-->
      <!--<button class="gray" @click="exitLogin">暂不登录</button>-->
    <!--</section>-->

  </section>
</template>

<script>
export default {
  data() {
    return {
      validateTips: "发送验证码",
      timer: undefined,
      smsDisable: false,
      countDown: 59,
      timer: null
    };
  },
  components: {},
  watch: {},
  computed: {
    mobile: {
      get() {
        return this.$store.state.mobile;
      },
      set(value) {
        this.$store.commit("updateMobile", value);
      }
    },
    idCard: {
      get() {
        return this.$store.state.idCard;
      },
      set(value) {
        this.$store.commit("updateidCard", value);
      }
    },
    validateCode: {
      get() {
        return this.$store.state.validateCode;
      },
      set(value) {
        this.$store.commit("updateValidate", value);
      }
    }
  },
  filter: {},
  methods: {
    jsSDKConfig () {
      this.$http.get(this.$secondURL.jsSdkConfig, {
        url: window.location.href
      }).then( res => {
        if (res.status === '000') {
          console.log(res, 'jssdkconfig')
          // this.$store.commit('updataJsSdkConfig', res.data);
          window.wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: res.data.appId, // 必填，公众号的唯一标识
            timestamp: res.data.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.data.nonceStr, // 必填，生成签名的随机串
            signature: res.data.signature,// 必填，签名
            jsApiList: ['checkJsApi', 'scanQRCode', 'getLocation'] // 必填，需要使用的JS接口列表
          });
          // console.log(res, 'jssdk, jssdk, jssdk, jssdk')
        }
      })
    },
    back() {
      this.$router.back();
    },
    only_num($event) {
      console.log($event);
    },
    sendSMS() {
      if (!this.smsDisable && this.mobile) {

        this.$http
          .get(this.$secondURL.sendSMS, {
            mobile: this.$store.state.mobile
          })
          .then(res => {
            this.smsDisable = true;
            this.validateTips = `已发送验证码(60)`;
            this.timer = window.setInterval(() => {
              this.validateTips = `已发送验证码(${this.countDown--})`;
              if (this.countDown === -1) {
                window.clearInterval(this.timer);
                this.validateTips = `再次发送验证码`;
                this.countdown = 59;
                this.smsDisable = false;
              }
            }, 1000);
          })
          .catch(res => {});
      } else {
        // TODO
        this.$store.commit('updataTips', '请正确填写手机号')
        this.$store.commit('changeTipsStatus')
      }
    },
    login() {
      this.$http
        .get(this.$secondURL.user, {
          mobile: this.$store.state.mobile,
          idCard: this.$store.state.idCard,
          validateCode: this.$store.state.validateCode,
          openId: window.sessionStorage.getItem("openId") || ''
        })
        .then(res => {
          if (res.status === "000") {
            this.$store.commit("updateUserInfo", res.data);
            console.log(res.data, 'user')
            window.sessionStorage.setItem('loginStatus', 'login');
            this.timer = window.setTimeout(() => {
              this.jsSDKConfig();
              window.clearTimeout(this.timer);
            }, 500)
            this.$http.get(this.$secondURL.page_userwork, {
                userId: res.data.id,
                operStatus: "",
                pageNumber: 0,
                pageSize: 6
              }).then(res => {
                if (res.status === "000") {
                  // 登录成功后导航回原来的地方 代办事项必须获取成功
                  // console.log('条啊 条他 条啊')
                  window.sessionStorage.setItem('loginStatus', 'true');
                  window.sessionStorage.setItem("mobile", this.$store.state.mobile);
                  window.sessionStorage.setItem("idCard", this.$store.state.idCard);
                  window.sessionStorage.setItem("validateCode", this.$store.state.validateCode);
                  this.$store.commit("updateTodolist", res.data.itemList);
                  this.$store.commit("updataTips", "登录成功");
                  this.$store.commit("changeTipsStatus");
                  this.$router.push('/enterprise');

                  // console.log(res.data.data.itemList, '代办事项')
                } else {
                  console.log(res);
                  this.$store.commit("updataTips", "系统繁忙");
                  this.$store.commit("changeTipsStatus");
                }
              })
              .catch(res => {
                console.log(res)
              });
          } else if (res.status === "-1") {
            this.$store.commit("updataTips", res.message);
            this.$store.commit("changeTipsStatus");
          }
        });
    },
    exitLogin () {
      this.$router.push({
        path: '/enterprise'
      })
    }
  }
};
</script>

<style lang="scss" scoped>
.login-wrapper {
  .common-header {
    background: rgb(9, 35, 71);
    h1 {
      padding: 0.2667rem;
      font-size: 0.2133rem;
      position: relative;
      text-align: center;
      font-weight: normal;
      color: white;
      i {
        left: 0.1333rem;
        top: 0.28rem;
        position: absolute;
        display: block;
        height: 0.24rem;
        width: 0.1467rem;
        background: url("../../assets/common/white_arrow.png");
        background-size: cover;
      }
    }
  }

  .login-info {
    padding: 0.2rem 0.16rem;
    .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 0.1333rem;
      border: 0.0133rem solid rgb(153, 153, 153);
      border-radius: 0.0667rem;
      padding: 0.0667rem 0.16rem;
      position: relative;
      input {
        flex: 1;
        height: 0.4rem;
      }
    }
    .checkcode {
      span {
        width: 1.7733rem;
      }
      span::before {
        content: "|";
        display: inline-block;
        margin-right: 0.2667rem;
        vertical-align: 0.0267rem;
      }
    }
  }

  .btn-wrapper {
    margin-top: 0.2667rem;
    display: flex;
    justify-content: center;
    button {
      width: 60%;
      padding: 0.2rem 0rem;
      border-radius: 0.0667rem;
      background: rgb(83, 105, 217);
      font-size: 0.2133rem;
      color: white;
    }
    /*.gray {*/
      /*color: rgb(77, 77, 77);*/
      /*background: rgb(233, 233, 233);*/
    /*}*/
  }
}
</style>

