<template>
  <section style="background:white;">
      <div class="common-personMsg">
        <div class="personMsgLeft">
          <div class="head-wrapper">
            <img alt="暂无头像" :src="$store.state.userInfo.cardImgFront ? $store.state.userInfo.cardImgFront : '/src/assets/common/logo.png'">
          </div>
          <div class="detail-wrapper">
            <span class="name">{{$store.state.userInfo.name}}</span>
            <span class="todo">待办: {{$store.getters.wait_worklist.length}}</span>
          </div>
        </div>
        <div @click="toPersonCenter" class="personMsgRight">
          个人中心 <i class="arrow-right"></i>
        </div>
      </div>
    </section>
</template>

<script>

export default {
  data () {
    return {
      perMsg: {
        name: '股某人',
        todo: 3
      }
    }
  },
  methods: {
    toPersonCenter () {
      // console.log(this.$router)
      this.$router.push({
        path: '/personCenter/all'
      })
    }
  }
}
</script>

<style lang="scss">
// $mainColor: rgb(241,246,249);
$font_mainColor: rgb(77,77,77);
// $bg_mainColor:rgb(241,246,249);

.head-wrapper {
  img {
    max-width: 100%;
  }
}
.common-personMsg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.16rem 0.16rem 0.3733rem;
  background: url('../../../assets/home/person_msgbg.png') 0 bottom no-repeat white;
  background-size: contain;
  .personMsgLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1.2667rem;
    .head-wrapper{
      width: 0.5333rem;
      height: 0.5333rem;
      display: flex;
      justify-content: center;
      align-items: center;
      /*background: #000;*/
    }
    .detail-wrapper{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 0.2rem;
      .name{
        color: $font_mainColor;
      }
      .todo{
        color: rgb(237, 130, 43);
      }
    }
  }
  .personMsgRight{
    font-size: 0.2rem;
    color: $font_mainColor;
    height: 100%;
    padding-right: 0.2933rem;
    position: relative;
    .arrow-right{
      position: absolute;
      top: 0.04rem;
      right: 0;
      display: block;
      width: 0.12rem;
      height: 0.2rem;
      background: url('../../../assets/common/arrow_right.png');
      background-size: cover;
    }
    &:after{
      content: '';
      width: 0.12rem;
      height: 0.12rem;
      background: rgb(198, 25, 25);
      position: absolute;
      right: 0.16rem;
      top: 0px;
      border-radius: 50%;
    }
  }
}
</style>
