<template>
  <div id="app">
    <router-view/>
    <!-- <Loading v-if="$store.state.showLoading" /> -->
    <Tips v-if="$store.state.showTips"></Tips>
  </div>
</template>
<script>
// import './css/base.css'
import Loading from "./components/loading/loading";
import Tips from "./components/__tips/__tips";
export default {
  name: "App",
  data () {
    return {
      wxReady: false,
      timer: null
    }
  },
  mounted() {
    window.sessionStorage.setItem('allowAgain', 'false');
    let that = this;
    // console.log('进来')

    try {
      this.saveSession();
      if (window.sessionStorage.getItem("status") === null) {
        this.allow();
      } else if (window.sessionStorage.getItem("status") === "error") {

        if (window.sessionStorage.getItem('allowAgain') === 'false') {
          this.allow();
          this.$store.commit("updataTips", "授权失败,正在重新授权");
          this.$store.commit("changeTipsStatus");
          window.sessionStorage.removeItem('allowAgain');
        }
      } else if (window.sessionStorage.getItem("status") === "login") {
        window.sessionStorage.removeItem('status');
        // this.fetchUserInfo();
        if (!window.sessionStorage.getItem('loginStatus')) {
          // window.sessionStorage.removeItem('loginStatus');
          this.$router.push({
            path: '/login'
          });
        } else {
          this.fetchUserInfo(() => this.getUserWork());
        }
      } else if (window.sessionStorage.getItem("status") === "success") {
        this.jsSDKConfig();
        // window.sessionStorage.removeItem('status');
        window.sessionStorage.setItem('loginStatus', 'login');
        this.fetchUserInfo(() => this.getUserWork());
      }

    } catch (err) {
      this.$store.commit("updataTips", "getStatus fault");
      this.$store.commit("changeTipsStatus");
      console.log(err)
    }


    // 配置wx 回调
    window.wx.error(function(res) {
        // alert('wxerror' + res.errMsg);//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
        console.log('wxerror', res.errMsg);//这个地方的好处就是wx.config配置错误，会弹出窗口哪里错误，然后根据微信文档查询即可。
    });

    window.wx.ready(function() {
      console.log('updataWxReadyStatus');
      that.$store.commit('updataWxReadyStatus', true);
      wx.checkJsApi({
        jsApiList : ['scanQRCode', 'scanQRCode'],
        success : function(res) {
         console.log(res, 'checkJsApi')
        }
      });
      that.$store.dispatch('getLocation').then(res => {
        // todo
      });

    })

  },
  beforeDestroy () {
    window.clearTimeout(this.timer)
  },
  methods: {
    // success 状态 或者登录后的刷新操作
    /*
    *callback : [Function] 登录成功后做的事情
    *
    * */
    fetchUserInfo (callback) {
      this.$http.get(this.$secondURL.info).then(res => {
        if (res.status === "000") {
          console.log(res.data, '用户信息');
          this.$store.commit("updateUserInfo", res.data);
          if (callback) {
            callback();
          }
        }
      });

    },
    getUserWork () {
      this.$http.get(this.$secondURL.page_userwork, {
        userId: this.$store.state.userInfo.id,
        operStatus: "",
        pageNumber: 0,
        pageSize: 6
      }).then(res => {
        // 登录成功后导航回原来的地方 代办事项必须获取成功
        this.$store.commit("updateTodolist", res.data.itemList);
        this.$store.commit("updataTips", "获取数据成功");
        this.$store.commit("changeTipsStatus");
        window.sessionStorage.setItem("loginStatus", 'true');
        window.sessionStorage.setItem("userId", this.$store.state.userInfo.id);
      })
      .catch(res => {
        console.log(res)
      });
    },
    saveSession () {
      let messages = window.location.search.substring(1).split("&") || [];
      messages.forEach((item) => {
        const key_val = item.split("=");
        if (item) {
          window.sessionStorage.setItem(key_val[0], key_val[1]);
        }
      });
    },
    allow () {
      this.$http.get(this.$secondURL.auth, {
          jumpUrl: window.location.href
      })
      .then(res => {
        console.log(res.data, "登录状态");
        window.location.href = res.data;
      });
    },
    jsSDKConfig () {
      this.$http.get(this.$secondURL.jsSdkConfig, {
        url: window.location.href
      }).then( res => {
        if (res.status === '000') {
          console.log(res, 'jssdkconfig')
          // this.$store.commit('updataJsSdkConfig', res.data)
          window.wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: res.data.appId, // 必填，公众号的唯一标识
            timestamp: res.data.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.data.nonceStr, // 必填，生成签名的随机串
            signature: res.data.signature,// 必填，签名
            jsApiList: ['checkJsApi', 'scanQRCode', 'getLocation'] // 必填，需要使用的JS接口列表
          });
          // console.log(res, 'jssdk, jssdk, jssdk, jssdk')
        }
      })
    }
  },
  components: {
    Loading: Loading,
    Tips: Tips
  }
};
</script>
<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
</style>
