<template>
  <section class="category-main">
    <div class="category-nav">
      <ul class="category-list">
        <router-link replace v-for="item in category" active-class="active" :key="item.id"  tag="li" :to="`/category/${item.serverType}/${item.id}`">
          <a>{{item.name}}</a>
        </router-link>
        <!-- <router-link active-class="active" tag="li" to="/category/fire">
          <a>出入境服务</a>
        </router-link>
        <router-link active-class="active" tag="li" to="/category/sec">
          <a>出入境服务</a>
        </router-link>
        <router-link active-class="active" tag="li" to="/category/ena">
          <a>出入境服务</a>
        </router-link> -->
      </ul>
    </div>
    <div class="category-list">
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </div>
  </section>
</template>

<script>
export default {
  data () {
    return {
      
    }
  },
  props: ['category'],
  mounted () {
  },
  methods: {
    
  },
  watch: {
    // '$route': "fetchData"
  },
  
  
};
</script>

<style>
</style>
