<template>
  <section class="appointment-state">
    <ul>
      <li><span class="fz14main">状态: </span><p class="fz15ping">未办理</p></li>
      <li class="bblight"><span class="fz14main">预约号: </span><p class="fz15orange">654534</p></li>
    </ul>
    <section class="commonbtn-wrapper">
      <button @click="toMap">查看地图</button>
      <button @click="toHome">返回首页</button>
    </section>
  </section>
</template>

<script>
export default {
  methods: {
    toHome () {
      this.$router.push({
        path: '/'
      });
    },
    toMap () {
      this.$router.push({
        path: '/appointment/success/map'
      });
    }
  }
}
</script>

<style lang="scss">
.appointment-state{
  
}
</style>
